In [1]:
!ls

Fetch_Data_Analysis.ipynb  data  logs  requirements.txt  src

In [2]:
import pandas as pd

In [3]:
#df = pd.read_json("users.json.gz", compression='gzip', lines=True) 
df = pd.read_json("data/users_sample_1.json") 
print(df.head())

                                    _id  active               createdDate  \
0  {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  {'$date': 1609687444800}
1  {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  {'$date': 1609687444800}
2  {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  {'$date': 1609687444800}

                  lastLogin      role signUpSource state
0  {'$date': 1609687537858}  consumer        Email    WI
1  {'$date': 1609687537858}  consumer        Email    WI
2  {'$date': 1609687537858}  consumer        Email    WI

# **What are the requirements?**

    1. Review unstructured JSON data and diagram a new structured relational data model
    2. Generate a query that answers a predetermined business question
    3. Generate a query to capture data quality issues against the new structured relational data model
    4. Write a short email or Slack message to the business stakeholder

# Solution Approach.

**1. Data Infrastructure**

    - Create a docker to setup databricks runtime as the base image to process data using PySpark, Python and SQL.
    - Set up python and java environment variables just in case. 
    - Use Jupyter Notebook and data profiling and business queries. 

**2. Data Ingestion**

        - Ingest users JSON into a dataframe and create a "users" view. 
        - Ingest brands JSON into a dataframe and create a "brands" view. 
        - Ingest receipts JSON into a dataframe & create "receipts" and "receipts_item" table. 

**3. Data Profiling.**
        - Evaluate for null values
        - Evaluate for duplicates
        - Evaluate data inconsistencies and missing values. 

**4. Query to answer business questions**

In [4]:
import re
import json
import gzip
import pandas as pd

# Open the gzipped file
with gzip.open("data/users.json.gz", 'rt', encoding="utf-8") as f:
    # Read the file line by line
    data = []
    for line in f:
        # Try to load each line as a JSON object
        try:
            # Remove any trailing whitespace or newlines
            line = line.strip()
            if line:  # Skip empty lines
                json_object = json.loads(line + "\n")
                data.append(json_object)
        except json.JSONDecodeError as e:
            print(f"Skipping invalid JSON line: {line}, Error: {e}")

# Create the DataFrame from the collected JSON objects
#df = pd.DataFrame(data)
df = pd.DataFrame(pd.json_normalize(data))
print(df.head())

Skipping invalid JSON line: users.json                                                                                          0100777 0000000 0000000 00000254301 14567170355 010072  0                                                                                                    ustar 00                                                                                                                                                                                                                                                       {"_id":{"$oid":"5ff1e194b6a9d73a3a9f1052"},"active":true,"createdDate":{"$date":1609687444800},"lastLogin":{"$date":1609687537858},"role":"consumer","signUpSource":"Email","state":"WI"}, Error: Expecting value: line 1 column 1 (char 0)
Skipping invalid JSON line:                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                , Error: Expecting value: line 1 column 1 (char 0)
   active      role signUpSource state                  _id.$oid  \
0    True  consumer        Email    WI  5ff1e194b6a9d73a3a9f1052
1    True  consumer        Email    WI  5ff1e194b6a9d73a3a9f1052
2    True  consumer        Email    WI  5ff1e1eacfcf6c399c274ae6
3    True  consumer        Email    WI  5ff1e194b6a9d73a3a9f1052
4    True  consumer        Email    WI  5ff1e194b6a9d73a3a9f1052

   createdDate.$date  lastLogin.$date
0      1609687444800     1.609688e+12
1      1609687444800     1.609688e+12
2      1609687530554     1.609688e+12
3      1609687444800     1.609688e+12
4      1609687444800     1.609688e+12

## **Data Ingestion**

### **Ingest Users**

In [5]:
import json
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Initialize Spark Session
spark = SparkSession.builder.appName("UseJSONProcessing").getOrCreate()

# 1. Read the compressed NDJSON file as text. Spark automatically decompresses .gz files.
rdd = spark.sparkContext.textFile("data/users.json.gz")

# 2. Ensure each record ends with a newline character.
#    This transformation checks each line and appends "\n" if it's not present.
rdd_corrected = rdd.map(lambda line: line if line.endswith("\n") else line + "\n")


# 3. Parse the corrected RDD as JSON while capturing corrupted records.
#    We set the read mode to "PERMISSIVE" and define a column for corrupt records.
df_raw = spark.read.option("mode", "PERMISSIVE") \
                   .option("columnNameOfCorruptRecord", "_corrupt_record") \
                   .json(rdd_corrected)

# 4. Optional: Filter out the rows that contain corrupted records
df_valid = df_raw.filter(col("_corrupt_record").isNull())

# 5. Flatten the nested fields in the valid records:
#    - Extract the ObjectId from the _id field.
#    - Convert the createdDate and lastLogin fields from nested format to proper timestamps.
df_flattened = (df_valid.withColumn("_id", col("_id.$oid"))
                          .withColumn("createdDate", (col("createdDate.$date") / 1000).cast("timestamp"))
                          .withColumn("lastLogin", (col("lastLogin.$date") / 1000).cast("timestamp"))
                )

# 6. Show the resulting flattened DataFrame
# df_flattened.show(truncate=False)

# Optionally, log or inspect the corrupted records if needed:
corrupted_records = df_raw.filter(col("_corrupt_record").isNotNull())
if corrupted_records.count() > 0:
    print("Found corrupted records:")
    corrupted_records.show(truncate=False)

# 7. Register DataFrame as a SQL temporary view
# #  Users_raw and users views
df_raw.createOrReplaceTempView("users_raw")

# # # Register DataFrame as a SQL temporary view
df_flattened.createOrReplaceTempView("users")

# # # Run a Spark SQL query
df_users = spark.sql("SELECT _id,active,createdDate,lastLogin,role, signUpSource, state FROM users")


# # # Show the results
df_users.show(truncate=False)

df_users.describe().show()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/02/22 17:08:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Found corrupted records:
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----+------+-----------+---------+----+------------+-----+
|_corrupt_record                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  |_id |active|createdDate|lastLogin|role|signUpSource|state|
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----+------+-----------+---------+----+------------+-----+
|users.json                                                                                          0100777 0000000 0000000 00000254301 14567170355 010072  0                                                                                                    ustar 00                                                                                                                                                                                                                                                       {"_id":{"$oid":"5ff1e194b6a9d73a3a9f1052"},"active":true,"createdDate":{"$date":1609687444800},"lastLogin":{"$date":1609687537858},"role":"consumer","signUpSource":"Email","state":"WI"}\n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      |NULL|NULL  |NULL       |NULL     |NULL|NULL        |NULL |
|                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               \n|NULL|NULL  |NULL       |NULL     |NULL|NULL        |NULL |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----+------+-----------+---------+----+------------+-----+

+------------------------+------+-----------------------+-----------------------+--------+------------+-----+
|_id                     |active|createdDate            |lastLogin              |role    |signUpSource|state|
+------------------------+------+-----------------------+-----------------------+--------+------------+-----+
|5ff1e194b6a9d73a3a9f1052|true  |2021-01-03 15:24:04.8  |2021-01-03 15:25:37.858|consumer|Email       |WI   |
|5ff1e194b6a9d73a3a9f1052|true  |2021-01-03 15:24:04.8  |2021-01-03 15:25:37.858|consumer|Email       |WI   |
|5ff1e1eacfcf6c399c274ae6|true  |2021-01-03 15:25:30.554|2021-01-03 15:25:30.597|consumer|Email       |WI   |
|5ff1e194b6a9d73a3a9f1052|true  |2021-01-03 15:24:04.8  |2021-01-03 15:25:37.858|consumer|Email       |WI   |
|5ff1e194b6a9d73a3a9f1052|true  |2021-01-03 15:24:04.8  |2021-01-03 15:25:37.858|consumer|Email       |WI   |
|5ff1e1e8cfcf6c399c274ad9|true  |2021-01-03 15:25:28.354|2021-01-03 15:25:28.392|consumer|Email       |WI   |
|5ff1e1b7cfcf6c399c274a5a|true  |2021-01-03 15:24:39.626|2021-01-03 15:24:39.665|consumer|Email       |WI   |
|5ff1e194b6a9d73a3a9f1052|true  |2021-01-03 15:24:04.8  |2021-01-03 15:25:37.858|consumer|Email       |WI   |
|5ff1e1f1cfcf6c399c274b0b|true  |2021-01-03 15:25:37.564|2021-01-03 15:25:37.599|consumer|Email       |WI   |
|5ff1e194b6a9d73a3a9f1052|true  |2021-01-03 15:24:04.8  |2021-01-03 15:25:37.858|consumer|Email       |WI   |
|5ff1e1eacfcf6c399c274ae6|true  |2021-01-03 15:25:30.554|2021-01-03 15:25:30.597|consumer|Email       |WI   |
|5ff1e194b6a9d73a3a9f1052|true  |2021-01-03 15:24:04.8  |2021-01-03 15:25:37.858|consumer|Email       |WI   |
|5ff1e1eacfcf6c399c274ae6|true  |2021-01-03 15:25:30.554|2021-01-03 15:25:30.597|consumer|Email       |WI   |
|5ff1e194b6a9d73a3a9f1052|true  |2021-01-03 15:24:04.8  |2021-01-03 15:25:37.858|consumer|Email       |WI   |
|5ff1e194b6a9d73a3a9f1052|true  |2021-01-03 15:24:04.8  |2021-01-03 15:25:37.858|consumer|Email       |WI   |
|5ff1e1e4cfcf6c399c274ac3|true  |2021-01-03 15:25:24.656|2021-01-03 15:25:24.694|consumer|Email       |WI   |
|5ff1e1b4cfcf6c399c274a54|true  |2021-01-03 15:24:36.41 |2021-01-03 15:24:36.452|consumer|Email       |WI   |
|5ff1e1eacfcf6c399c274ae6|true  |2021-01-03 15:25:30.554|2021-01-03 15:25:30.597|consumer|Email       |WI   |
|5ff1e194b6a9d73a3a9f1052|true  |2021-01-03 15:24:04.8  |2021-01-03 15:25:37.858|consumer|Email       |WI   |
|5ff370c562fde912123a5e0e|true  |2021-01-04 19:47:17.776|2021-01-04 19:50:50.563|consumer|Email       |WI   |
+------------------------+------+-----------------------+-----------------------+--------+------------+-----+
only showing top 20 rows

25/02/22 17:08:30 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+--------------------+-----------+------------+-----+
|summary|                 _id|       role|signUpSource|state|
+-------+--------------------+-----------+------------+-----+
|  count|                 494|        494|         446|  438|
|   mean|                NULL|       NULL|        NULL| NULL|
| stddev|                NULL|       NULL|        NULL| NULL|
|    min|54943462e4b07e684...|   consumer|       Email|   AL|
|    max|60268c7aefa6011bb...|fetch-staff|      Google|   WI|
+-------+--------------------+-----------+------------+-----+

In [6]:
df_users.printSchema()

root
 |-- _id: string (nullable = true)
 |-- active: boolean (nullable = true)
 |-- createdDate: timestamp (nullable = true)
 |-- lastLogin: timestamp (nullable = true)
 |-- role: string (nullable = true)
 |-- signUpSource: string (nullable = true)
 |-- state: string (nullable = true)

### **Ingest Brands**

In [24]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Initialize Spark Session
spark = SparkSession.builder.appName("BrandsJSONProcessing").getOrCreate()

# 1. Read the compressed NDJSON file as text. Spark automatically decompresses .gz files.
rdd = spark.sparkContext.textFile("data/brands.json.gz")

# 2. Ensure each record ends with a newline character
rdd_corrected = rdd.map(lambda line: line if line.endswith("\n") else line + "\n")

# 3. Parse the corrected RDD as JSON
df = spark.read.json(rdd_corrected)

# 4. Flatten the nested fields:
#    - Extract the ObjectId from the _id field.
#    - Convert the createdDate and lastLogin fields from their nested format to proper timestamps
# Flatten the "cpg" nested field:
df_raw = (df.withColumn("_id", col("_id.$oid"))
            .withColumn("cpg_id", col("cpg.$id.$oid"))
            .withColumn("cpg_ref", col("cpg.$ref"))
             # .drop("cpg")
               )

# # 5. Show the resulting flattened DataFrame
df_raw.show(truncate=False)

# 7. Register DataFrame as a SQL temporary view
# #  brands_raw and brands views
df.createOrReplaceTempView("brands_raw")

# # # Register DataFrame as a SQL temporary view
df_raw.createOrReplaceTempView("brands")

# # # Run a Spark SQL query
df_brands = spark.sql("SELECT * FROM brands")

# # # Show the results
df_brands.show(truncate=False)

df_brands.describe().show()

25/02/22 17:28:32 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+------------------------+------------+-----------------------------+--------------------+--------------------+----------------------------------+-------------------------+--------+------------------------+-------+
|_id                     |barcode     |brandCode                    |category            |categoryCode        |cpg                               |name                     |topBrand|cpg_id                  |cpg_ref|
+------------------------+------------+-----------------------------+--------------------+--------------------+----------------------------------+-------------------------+--------+------------------------+-------+
|601ac115be37ce2ead437551|511111019862|NULL                         |Baking              |BAKING              |{{601ac114be37ce2ead437550}, Cogs}|test brand @1612366101024|false   |601ac114be37ce2ead437550|Cogs   |
|601c5460be37ce2ead43755f|511111519928|STARBUCKS                    |Beverages           |BEVERAGES           |{{5332f5fbe4b03c9a25efd0ba}, Cogs}|Starbucks                |false   |5332f5fbe4b03c9a25efd0ba|Cogs   |
|601ac142be37ce2ead43755d|511111819905|TEST BRANDCODE @1612366146176|Baking              |BAKING              |{{601ac142be37ce2ead437559}, Cogs}|test brand @1612366146176|false   |601ac142be37ce2ead437559|Cogs   |
|601ac142be37ce2ead43755a|511111519874|TEST BRANDCODE @1612366146051|Baking              |BAKING              |{{601ac142be37ce2ead437559}, Cogs}|test brand @1612366146051|false   |601ac142be37ce2ead437559|Cogs   |
|601ac142be37ce2ead43755e|511111319917|TEST BRANDCODE @1612366146827|Candy & Sweets      |CANDY_AND_SWEETS    |{{5332fa12e4b03c9a25efd1e7}, Cogs}|test brand @1612366146827|false   |5332fa12e4b03c9a25efd1e7|Cogs   |
|601ac142be37ce2ead43755b|511111719885|TEST BRANDCODE @1612366146091|Baking              |BAKING              |{{601ac142be37ce2ead437559}, Cogs}|test brand @1612366146091|false   |601ac142be37ce2ead437559|Cogs   |
|601ac142be37ce2ead43755c|511111219897|TEST BRANDCODE @1612366146133|Baking              |BAKING              |{{601ac142be37ce2ead437559}, Cogs}|test brand @1612366146133|false   |601ac142be37ce2ead437559|Cogs   |
|5cdad0f5166eb33eb7ce0faa|511111104810|J.L. KRAFT                   |Condiments & Sauces |NULL                |{{559c2234e4b06aca36af13c6}, Cogs}|J.L. Kraft               |NULL    |559c2234e4b06aca36af13c6|Cogs   |
|5ab15636e4b0be0a89bb0b07|511111504412|CAMPBELLS HOME STYLE         |Canned Goods & Soups|NULL                |{{5a734034e4b0d58f376be874}, Cogs}|Campbell's Home Style    |false   |5a734034e4b0d58f376be874|Cogs   |
|5c408e8bcd244a1fdb47aee7|511111504788|TEST                         |Baking              |NULL                |{{59ba6f1ce4b092b29c167346}, Cogs}|test                     |NULL    |59ba6f1ce4b092b29c167346|Cogs   |
|5f4bf556be37ce0b4491554d|511111516354|TEST BRANDCODE @1598813526777|Baking              |BAKING              |{{5f4bf556be37ce0b44915549}, Cogs}|test brand @1598813526777|NULL    |5f4bf556be37ce0b44915549|Cogs   |
|57c08106e4b0718ff5fcb02c|511111102540|NULL                         |NULL                |NULL                |{{5332f5f2e4b03c9a25efd0aa}, Cpgs}|MorningStar              |NULL    |5332f5f2e4b03c9a25efd0aa|Cpgs   |
|588ba07be4b02187f85cdadd|511111201076|CALUMET                      |Baking              |NULL                |{{559c2234e4b06aca36af13c6}, Cogs}|Calumet                  |false   |559c2234e4b06aca36af13c6|Cogs   |
|5d6413156d5f3b23d1bc790a|511111205012|511111205012                 |Magazines           |NULL                |{{5d5d4fd16d5f3b23d1bc7905}, Cogs}|Entertainment Weekly     |NULL    |5d5d4fd16d5f3b23d1bc7905|Cogs   |
|585a9611e4b03e62d1ce0e74|511111801801|AUNT JEMIMA SYRUP            |Breakfast & Cereal  |NULL                |{{5332f5fbe4b03c9a25efd0ba}, Cogs}|AUNT JEMIMA Syrup        |false   |5332f5fbe4b03c9a25efd0ba|Cogs   |
|57e5820ce4b0ac389136a311|511111202233|MOLSON                       |Beer Wine Spirits   |NULL                |{{5332f709e4b03c9a25efd0f1}, Cpgs}|Molson Canadian          |false   |5332f709e4b03c9a25efd0f1|Cpgs   |
|5fb6adb8be37ce522e165cb8|511111817376|LOTRIMIN                     |Health & Wellness   |HEALTHY_AND_WELLNESS|{{5d9b4f591dda2c6225a284aa}, Cogs}|LotriminÂ®                |false   |5d9b4f591dda2c6225a284aa|Cogs   |
|5f358338be37ce443bf9d55a|511111515319|TEST BRANDCODE @1597342520277|Baking              |BAKING              |{{5f358338be37ce443bf9d557}, Cogs}|test brand @1597342520277|NULL    |5f358338be37ce443bf9d557|Cogs   |
|5fb28549be37ce522e165cb5|511111317364|NULL                         |Baking              |BAKING              |{{5fb28549be37ce522e165cb4}, Cogs}|test brand @1605535049181|false   |5fb28549be37ce522e165cb4|Cogs   |
|592486bfe410d61fcea3d139|511111300700|ST IVES                      |Beauty              |NULL                |{{5332f5f6e4b03c9a25efd0b4}, Cogs}|ST. IVES                 |false   |5332f5f6e4b03c9a25efd0b4|Cogs   |
+------------------------+------------+-----------------------------+--------------------+--------------------+----------------------------------+-------------------------+--------+------------------------+-------+
only showing top 20 rows

+------------------------+------------+-----------------------------+--------------------+--------------------+----------------------------------+-------------------------+--------+------------------------+-------+
|_id                     |barcode     |brandCode                    |category            |categoryCode        |cpg                               |name                     |topBrand|cpg_id                  |cpg_ref|
+------------------------+------------+-----------------------------+--------------------+--------------------+----------------------------------+-------------------------+--------+------------------------+-------+
|601ac115be37ce2ead437551|511111019862|NULL                         |Baking              |BAKING              |{{601ac114be37ce2ead437550}, Cogs}|test brand @1612366101024|false   |601ac114be37ce2ead437550|Cogs   |
|601c5460be37ce2ead43755f|511111519928|STARBUCKS                    |Beverages           |BEVERAGES           |{{5332f5fbe4b03c9a25efd0ba}, Cogs}|Starbucks                |false   |5332f5fbe4b03c9a25efd0ba|Cogs   |
|601ac142be37ce2ead43755d|511111819905|TEST BRANDCODE @1612366146176|Baking              |BAKING              |{{601ac142be37ce2ead437559}, Cogs}|test brand @1612366146176|false   |601ac142be37ce2ead437559|Cogs   |
|601ac142be37ce2ead43755a|511111519874|TEST BRANDCODE @1612366146051|Baking              |BAKING              |{{601ac142be37ce2ead437559}, Cogs}|test brand @1612366146051|false   |601ac142be37ce2ead437559|Cogs   |
|601ac142be37ce2ead43755e|511111319917|TEST BRANDCODE @1612366146827|Candy & Sweets      |CANDY_AND_SWEETS    |{{5332fa12e4b03c9a25efd1e7}, Cogs}|test brand @1612366146827|false   |5332fa12e4b03c9a25efd1e7|Cogs   |
|601ac142be37ce2ead43755b|511111719885|TEST BRANDCODE @1612366146091|Baking              |BAKING              |{{601ac142be37ce2ead437559}, Cogs}|test brand @1612366146091|false   |601ac142be37ce2ead437559|Cogs   |
|601ac142be37ce2ead43755c|511111219897|TEST BRANDCODE @1612366146133|Baking              |BAKING              |{{601ac142be37ce2ead437559}, Cogs}|test brand @1612366146133|false   |601ac142be37ce2ead437559|Cogs   |
|5cdad0f5166eb33eb7ce0faa|511111104810|J.L. KRAFT                   |Condiments & Sauces |NULL                |{{559c2234e4b06aca36af13c6}, Cogs}|J.L. Kraft               |NULL    |559c2234e4b06aca36af13c6|Cogs   |
|5ab15636e4b0be0a89bb0b07|511111504412|CAMPBELLS HOME STYLE         |Canned Goods & Soups|NULL                |{{5a734034e4b0d58f376be874}, Cogs}|Campbell's Home Style    |false   |5a734034e4b0d58f376be874|Cogs   |
|5c408e8bcd244a1fdb47aee7|511111504788|TEST                         |Baking              |NULL                |{{59ba6f1ce4b092b29c167346}, Cogs}|test                     |NULL    |59ba6f1ce4b092b29c167346|Cogs   |
|5f4bf556be37ce0b4491554d|511111516354|TEST BRANDCODE @1598813526777|Baking              |BAKING              |{{5f4bf556be37ce0b44915549}, Cogs}|test brand @1598813526777|NULL    |5f4bf556be37ce0b44915549|Cogs   |
|57c08106e4b0718ff5fcb02c|511111102540|NULL                         |NULL                |NULL                |{{5332f5f2e4b03c9a25efd0aa}, Cpgs}|MorningStar              |NULL    |5332f5f2e4b03c9a25efd0aa|Cpgs   |
|588ba07be4b02187f85cdadd|511111201076|CALUMET                      |Baking              |NULL                |{{559c2234e4b06aca36af13c6}, Cogs}|Calumet                  |false   |559c2234e4b06aca36af13c6|Cogs   |
|5d6413156d5f3b23d1bc790a|511111205012|511111205012                 |Magazines           |NULL                |{{5d5d4fd16d5f3b23d1bc7905}, Cogs}|Entertainment Weekly     |NULL    |5d5d4fd16d5f3b23d1bc7905|Cogs   |
|585a9611e4b03e62d1ce0e74|511111801801|AUNT JEMIMA SYRUP            |Breakfast & Cereal  |NULL                |{{5332f5fbe4b03c9a25efd0ba}, Cogs}|AUNT JEMIMA Syrup        |false   |5332f5fbe4b03c9a25efd0ba|Cogs   |
|57e5820ce4b0ac389136a311|511111202233|MOLSON                       |Beer Wine Spirits   |NULL                |{{5332f709e4b03c9a25efd0f1}, Cpgs}|Molson Canadian          |false   |5332f709e4b03c9a25efd0f1|Cpgs   |
|5fb6adb8be37ce522e165cb8|511111817376|LOTRIMIN                     |Health & Wellness   |HEALTHY_AND_WELLNESS|{{5d9b4f591dda2c6225a284aa}, Cogs}|LotriminÂ®                |false   |5d9b4f591dda2c6225a284aa|Cogs   |
|5f358338be37ce443bf9d55a|511111515319|TEST BRANDCODE @1597342520277|Baking              |BAKING              |{{5f358338be37ce443bf9d557}, Cogs}|test brand @1597342520277|NULL    |5f358338be37ce443bf9d557|Cogs   |
|5fb28549be37ce522e165cb5|511111317364|NULL                         |Baking              |BAKING              |{{5fb28549be37ce522e165cb4}, Cogs}|test brand @1605535049181|false   |5fb28549be37ce522e165cb4|Cogs   |
|592486bfe410d61fcea3d139|511111300700|ST IVES                      |Beauty              |NULL                |{{5332f5f6e4b03c9a25efd0b4}, Cogs}|ST. IVES                 |false   |5332f5f6e4b03c9a25efd0b4|Cogs   |
+------------------------+------------+-----------------------------+--------------------+--------------------+----------------------------------+-------------------------+--------+------------------------+-------+
only showing top 20 rows

+-------+--------------------+--------------------+--------------------+--------+-------------+--------------------+--------------------+-------+
|summary|                 _id|             barcode|           brandCode|category| categoryCode|                name|              cpg_id|cpg_ref|
+-------+--------------------+--------------------+--------------------+--------+-------------+--------------------+--------------------+-------+
|  count|                1167|                1167|                 933|    1012|          517|                1167|                1167|   1167|
|   mean|                NULL|5.111114594175038...| 4.93037467029625E11|    NULL|         NULL|                NULL|                NULL|   NULL|
| stddev|                NULL|   287449.7490955448|9.476837353492757E10|    NULL|         NULL|                NULL|                NULL|   NULL|
|    min|5332f5ebe4b03c9a2...|        511111000167|                    |    Baby|         BABY|                   .|5332f5ebe4b03c9a2...|   Cogs|
|    max|6026d757be37ce636...|        511111919803|             ZUMBIDA|  Snacks|PERSONAL_CARE|test brand @16131...|6026d757be37ce636...|   Cpgs|
+-------+--------------------+--------------------+--------------------+--------+-------------+--------------------+--------------------+-------+

In [25]:
df_brands.printSchema()

root
 |-- _id: string (nullable = true)
 |-- barcode: string (nullable = true)
 |-- brandCode: string (nullable = true)
 |-- category: string (nullable = true)
 |-- categoryCode: string (nullable = true)
 |-- cpg: struct (nullable = true)
 |    |-- $id: struct (nullable = true)
 |    |    |-- $oid: string (nullable = true)
 |    |-- $ref: string (nullable = true)
 |-- name: string (nullable = true)
 |-- topBrand: boolean (nullable = true)
 |-- cpg_id: string (nullable = true)
 |-- cpg_ref: string (nullable = true)

### **Ingest Receipts**

In [26]:
import json
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, explode, from_unixtime

# Initialize Spark Session
spark = SparkSession.builder.appName("ReceiptsJSONProcessing").getOrCreate()

# 1. Read the compressed NDJSON file as text. Spark automatically decompresses .gz files.
rdd = spark.sparkContext.textFile("data/receipts.json.gz")

# 2. Ensure each record ends with a newline character.
#    This transformation checks each line and appends "\n" if it's not present.
rdd_corrected = rdd.map(lambda line: line if line.endswith("\n") else line + "\n")

# # 3. Parse the corrected RDD as JSON
# df = spark.read.json(rdd_corrected)

# 3. Parse the corrected RDD as JSON while capturing corrupted records.
#    We set the read mode to "PERMISSIVE" and define a column for corrupt records.
df_raw = spark.read.option("mode", "PERMISSIVE") \
                   .option("columnNameOfCorruptRecord", "_corrupt_record") \
                   .json(rdd_corrected)

df_raw = df_raw.withColumn("_id", col("_id.$oid"))

# df_raw.show(truncate=False)

# # 4. Optional: Filter out the rows that contain corrupted records
# df_valid = df_raw.filter(col("_corrupt_record").isNull())

# Explode the "rewardsReceiptItemList" array so that each item becomes a separate row.
df_exploded = df_raw.withColumn("rewardsReceiptItem", explode("rewardsReceiptItemList"))

# 5. Flatten the nested fields in the valid records:
#    - Extract the ObjectId from the _id field.
#    - Convert the createdDate and lastLogin fields from nested format to proper timestamps.
#    - let's flatten the nested JSON columns in rewardsReceiptItem:
df_flattened = df_exploded.select(
    "_id",
    "bonusPointsEarned",
    "bonusPointsEarnedReason",
    from_unixtime(col("createDate.$date")/1000).alias("createDate"),
    from_unixtime(col("dateScanned.$date")/1000).alias("dateScanned"),
    from_unixtime(col("finishedDate.$date")/1000).alias("finishedDate"),
    from_unixtime(col("modifyDate.$date")/1000).alias("modifyDate"),
    from_unixtime(col("pointsAwardedDate.$date")/1000).alias("pointsAwardedDate"),
    col("pointsEarned"),
    from_unixtime(col("purchaseDate.$date")/1000).alias("purchaseDate"),
    "purchasedItemCount",
    col("rewardsReceiptStatus"),
    "totalSpent",
    "userId",
    "rewardsReceiptItemList"
    # Now flatten fields from rewardsReceiptItem
    # col("rewardsReceiptItem.barcode").alias("item_barcode"),
    # col("rewardsReceiptItem.description").alias("item_description"),
    # col("rewardsReceiptItem.finalPrice").alias("item_finalPrice"),
    # col("rewardsReceiptItem.itemPrice").alias("item_itemPrice"),
    # col("rewardsReceiptItem.needsFetchReview").alias("item_needsFetchReview"),
    # col("rewardsReceiptItem.partnerItemId").alias("item_partnerItemId"),
    # col("rewardsReceiptItem.preventTargetGapPoints").alias("item_preventTargetGapPoints"),
    # col("rewardsReceiptItem.quantityPurchased").alias("item_quantityPurchased"),
    # col("rewardsReceiptItem.userFlaggedBarcode").alias("item_userFlaggedBarcode"),
    # col("rewardsReceiptItem.userFlaggedNewItem").alias("item_userFlaggedNewItem"),
    # col("rewardsReceiptItem.userFlaggedPrice").alias("item_userFlaggedPrice"),
    # col("rewardsReceiptItem.userFlaggedQuantity").alias("item_userFlaggedQuantity")
)

# # 6. Show the resulting flattened DataFrame
# df_flattened.show(truncate=False)

# # Optionally, log or inspect the corrupted records if needed:
# corrupted_records = df_raw.filter(col("_corrupt_record").isNotNull())
# if corrupted_records.count() > 0:
#     print("Found corrupted records:")
#     corrupted_records.show(truncate=False)

# 7. Register DataFrame as a SQL temporary view
# #  Users_raw and users views
df_raw.createOrReplaceTempView("receipts_raw")

# # # Register DataFrame as a SQL temporary view
df_flattened.createOrReplaceTempView("receipts")

# # # Run a Spark SQL query
df_receipts = spark.sql("SELECT * FROM receipts")

# # # Show the results
# df_receipts.show(truncate=False)

df_receipts.describe().show()

25/02/22 17:31:50 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+-------+--------------------+------------------+-----------------------+-------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+------------------+--------------------+------------------+--------------------+
|summary|                 _id| bonusPointsEarned|bonusPointsEarnedReason|         createDate|        dateScanned|       finishedDate|         modifyDate|  pointsAwardedDate|      pointsEarned|       purchaseDate|purchasedItemCount|rewardsReceiptStatus|        totalSpent|              userId|
+-------+--------------------+------------------+-----------------------+-------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+------------------+--------------------+------------------+--------------------+
|  count|                6941|              5978|                   5978|               6941|               6941|               5967|               6941|               6078|              6251|               6920|              6892|                6941|              6941|                6941|
|   mean|                NULL|  625.985781197725|                   NULL|               NULL|               NULL|               NULL|               NULL|               NULL|2176.1597824347077|               NULL|240.93934997098086|                NULL| 1369.563070162824|                NULL|
| stddev|                NULL|244.38299377797097|                   NULL|               NULL|               NULL|               NULL|               NULL|               NULL|2175.8417960787224|               NULL| 221.7910388908268|                NULL|1589.1067953706151|                NULL|
|    min|5f9c74f70a7214ad0...|                 5|   All-receipts rece...|2020-10-30 20:17:59|2020-10-30 20:17:59|2021-01-03 15:24:10|2021-01-03 15:24:10|2020-10-30 20:18:00|               0.0|2017-10-30 00:00:00|                 0|            FINISHED|              0.00|54943462e4b07e684...|
|    max|603d5d6c0a7217c72...|               750|   Receipt number 6 ...|2021-03-01 21:32:28|2021-03-01 21:32:28|2021-02-26 22:36:25|2021-03-01 21:32:29|2021-02-26 22:36:25|             986.5|2021-03-08 17:37:13|               689|            REJECTED|             99.95|60268c7bb545931ac...|
+-------+--------------------+------------------+-----------------------+-------------------+-------------------+-------------------+-------------------+-------------------+------------------+-------------------+------------------+--------------------+------------------+--------------------+

In [10]:
df_raw.printSchema()

root
 |-- _id: string (nullable = true)
 |-- bonusPointsEarned: long (nullable = true)
 |-- bonusPointsEarnedReason: string (nullable = true)
 |-- createDate: struct (nullable = true)
 |    |-- $date: long (nullable = true)
 |-- dateScanned: struct (nullable = true)
 |    |-- $date: long (nullable = true)
 |-- finishedDate: struct (nullable = true)
 |    |-- $date: long (nullable = true)
 |-- modifyDate: struct (nullable = true)
 |    |-- $date: long (nullable = true)
 |-- pointsAwardedDate: struct (nullable = true)
 |    |-- $date: long (nullable = true)
 |-- pointsEarned: string (nullable = true)
 |-- purchaseDate: struct (nullable = true)
 |    |-- $date: long (nullable = true)
 |-- purchasedItemCount: long (nullable = true)
 |-- rewardsReceiptItemList: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- barcode: string (nullable = true)
 |    |    |-- brandCode: string (nullable = true)
 |    |    |-- competitiveProduct: boolean (nullable = true)
 |    |    |-- competitorRewardsGroup: string (nullable = true)
 |    |    |-- deleted: boolean (nullable = true)
 |    |    |-- description: string (nullable = true)
 |    |    |-- discountedItemPrice: string (nullable = true)
 |    |    |-- finalPrice: string (nullable = true)
 |    |    |-- itemNumber: string (nullable = true)
 |    |    |-- itemPrice: string (nullable = true)
 |    |    |-- metabriteCampaignId: string (nullable = true)
 |    |    |-- needsFetchReview: boolean (nullable = true)
 |    |    |-- needsFetchReviewReason: string (nullable = true)
 |    |    |-- originalFinalPrice: string (nullable = true)
 |    |    |-- originalMetaBriteBarcode: string (nullable = true)
 |    |    |-- originalMetaBriteDescription: string (nullable = true)
 |    |    |-- originalMetaBriteItemPrice: string (nullable = true)
 |    |    |-- originalMetaBriteQuantityPurchased: long (nullable = true)
 |    |    |-- originalReceiptItemText: string (nullable = true)
 |    |    |-- partnerItemId: string (nullable = true)
 |    |    |-- pointsEarned: string (nullable = true)
 |    |    |-- pointsNotAwardedReason: string (nullable = true)
 |    |    |-- pointsPayerId: string (nullable = true)
 |    |    |-- preventTargetGapPoints: boolean (nullable = true)
 |    |    |-- priceAfterCoupon: string (nullable = true)
 |    |    |-- quantityPurchased: long (nullable = true)
 |    |    |-- rewardsGroup: string (nullable = true)
 |    |    |-- rewardsProductPartnerId: string (nullable = true)
 |    |    |-- targetPrice: string (nullable = true)
 |    |    |-- userFlaggedBarcode: string (nullable = true)
 |    |    |-- userFlaggedDescription: string (nullable = true)
 |    |    |-- userFlaggedNewItem: boolean (nullable = true)
 |    |    |-- userFlaggedPrice: string (nullable = true)
 |    |    |-- userFlaggedQuantity: long (nullable = true)
 |-- rewardsReceiptStatus: string (nullable = true)
 |-- totalSpent: string (nullable = true)
 |-- userId: string (nullable = true)

In [11]:
df_receipts.printSchema()

root
 |-- _id: string (nullable = true)
 |-- bonusPointsEarned: long (nullable = true)
 |-- bonusPointsEarnedReason: string (nullable = true)
 |-- createDate: string (nullable = true)
 |-- dateScanned: string (nullable = true)
 |-- finishedDate: string (nullable = true)
 |-- modifyDate: string (nullable = true)
 |-- pointsAwardedDate: string (nullable = true)
 |-- pointsEarned: string (nullable = true)
 |-- purchaseDate: string (nullable = true)
 |-- purchasedItemCount: long (nullable = true)
 |-- rewardsReceiptStatus: string (nullable = true)
 |-- totalSpent: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- rewardsReceiptItemList: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- barcode: string (nullable = true)
 |    |    |-- brandCode: string (nullable = true)
 |    |    |-- competitiveProduct: boolean (nullable = true)
 |    |    |-- competitorRewardsGroup: string (nullable = true)
 |    |    |-- deleted: boolean (nullable = true)
 |    |    |-- description: string (nullable = true)
 |    |    |-- discountedItemPrice: string (nullable = true)
 |    |    |-- finalPrice: string (nullable = true)
 |    |    |-- itemNumber: string (nullable = true)
 |    |    |-- itemPrice: string (nullable = true)
 |    |    |-- metabriteCampaignId: string (nullable = true)
 |    |    |-- needsFetchReview: boolean (nullable = true)
 |    |    |-- needsFetchReviewReason: string (nullable = true)
 |    |    |-- originalFinalPrice: string (nullable = true)
 |    |    |-- originalMetaBriteBarcode: string (nullable = true)
 |    |    |-- originalMetaBriteDescription: string (nullable = true)
 |    |    |-- originalMetaBriteItemPrice: string (nullable = true)
 |    |    |-- originalMetaBriteQuantityPurchased: long (nullable = true)
 |    |    |-- originalReceiptItemText: string (nullable = true)
 |    |    |-- partnerItemId: string (nullable = true)
 |    |    |-- pointsEarned: string (nullable = true)
 |    |    |-- pointsNotAwardedReason: string (nullable = true)
 |    |    |-- pointsPayerId: string (nullable = true)
 |    |    |-- preventTargetGapPoints: boolean (nullable = true)
 |    |    |-- priceAfterCoupon: string (nullable = true)
 |    |    |-- quantityPurchased: long (nullable = true)
 |    |    |-- rewardsGroup: string (nullable = true)
 |    |    |-- rewardsProductPartnerId: string (nullable = true)
 |    |    |-- targetPrice: string (nullable = true)
 |    |    |-- userFlaggedBarcode: string (nullable = true)
 |    |    |-- userFlaggedDescription: string (nullable = true)
 |    |    |-- userFlaggedNewItem: boolean (nullable = true)
 |    |    |-- userFlaggedPrice: string (nullable = true)
 |    |    |-- userFlaggedQuantity: long (nullable = true)

### **Create Receipt_Item view**

In [12]:
df_receipt_item_list = df_exploded.select(
    col("_id").alias("receipt_id"),
    from_unixtime(col("createDate.$date")/1000).alias("createDate"),
    from_unixtime(col("dateScanned.$date")/1000).alias("dateScanned"),
    from_unixtime(col("finishedDate.$date")/1000).alias("finishedDate"),
    from_unixtime(col("modifyDate.$date")/1000).alias("modifyDate"),
    from_unixtime(col("pointsAwardedDate.$date")/1000).alias("pointsAwardedDate"),
    from_unixtime(col("purchaseDate.$date")/1000).alias("purchaseDate"),
    col("userId"),
    col("totalSpent"),
    col("pointsEarned"),
    col("rewardsReceiptStatus"),
    col("rewardsReceiptItem.barcode").alias("item_barcode"),
    col("rewardsReceiptItem.brandCode").alias("item_brandCode"),
    col("rewardsReceiptItem.competitiveProduct").alias("item_competitiveProduct"),
    col("rewardsReceiptItem.competitorRewardsGroup").alias("item_competitorRewardsGroup"),
    col("rewardsReceiptItem.deleted").alias("item_deleted"),
    col("rewardsReceiptItem.description").alias("item_description"),
    col("rewardsReceiptItem.discountedItemPrice").alias("item_discountedItemPrice"),
    col("rewardsReceiptItem.finalPrice").alias("item_finalPrice"),
    col("rewardsReceiptItem.itemNumber").alias("item_itemNumber"),
    col("rewardsReceiptItem.itemPrice").alias("item_itemPrice"),
    col("rewardsReceiptItem.metabriteCampaignId").alias("item_metabriteCampaignId"),
    col("rewardsReceiptItem.needsFetchReview").alias("item_needsFetchReview"),
    col("rewardsReceiptItem.needsFetchReviewReason").alias("item_needsFetchReviewReason"),
    col("rewardsReceiptItem.originalFinalPrice").alias("item_originalFinalPrice"),
    col("rewardsReceiptItem.originalMetaBriteBarcode").alias("item_originalMetaBriteBarcode"),
    col("rewardsReceiptItem.originalMetaBriteDescription").alias("item_originalMetaBriteDescription"),
    col("rewardsReceiptItem.originalMetaBriteItemPrice").alias("item_originalMetaBriteItemPrice"),
    col("rewardsReceiptItem.originalMetaBriteQuantityPurchased").alias("item_originalMetaBriteQuantityPurchased"),
    col("rewardsReceiptItem.originalReceiptItemText").alias("item_originalReceiptItemText"),
    col("rewardsReceiptItem.partnerItemId").alias("item_partnerItemId"),
    col("rewardsReceiptItem.pointsEarned").alias("item_pointsEarned"),
    col("rewardsReceiptItem.pointsNotAwardedReason").alias("item_pointsNotAwardedReason"),
    col("rewardsReceiptItem.pointsPayerId").alias("item_pointsPayerId"),
    col("rewardsReceiptItem.preventTargetGapPoints").alias("item_preventTargetGapPoints"),
    col("rewardsReceiptItem.priceAfterCoupon").alias("item_priceAfterCoupon"),
    col("rewardsReceiptItem.quantityPurchased").alias("item_quantityPurchased"),
    col("rewardsReceiptItem.rewardsGroup").alias("item_rewardsGroup"),
    col("rewardsReceiptItem.rewardsProductPartnerId").alias("item_rewardsProductPartnerId"),
    col("rewardsReceiptItem.targetPrice").alias("item_targetPrice"),
    col("rewardsReceiptItem.userFlaggedBarcode").alias("item_userFlaggedBarcode"),
    col("rewardsReceiptItem.userFlaggedDescription").alias("item_userFlaggedDescription"),
    col("rewardsReceiptItem.userFlaggedNewItem").alias("item_userFlaggedNewItem"),
    col("rewardsReceiptItem.userFlaggedPrice").alias("item_userFlaggedPrice"),
    col("rewardsReceiptItem.userFlaggedQuantity").alias("item_userFlaggedQuantity")
)

# Show results
# df_receipt_item_list.show(truncate=False)

# # # Register DataFrame as a SQL temporary view
df_receipt_item_list.createOrReplaceTempView("receipt_item")

# # # Run a Spark SQL query
df_receipt_item = spark.sql("SELECT * FROM receipt_item")

# # # Show the results
# df_receipt_item.show(truncate=False)

In [13]:
df_receipt_item.describe().show(truncate=False, vertical=True)

[Stage 20:>                                                         (0 + 1) / 1]

-RECORD 0---------------------------------------------------------------------------------------------------------------
 summary                                 | count
 receipt_id                              | 6941
 createDate                              | 6941
 dateScanned                             | 6941
 finishedDate                            | 5967
 modifyDate                              | 6941
 pointsAwardedDate                       | 6078
 purchaseDate                            | 6920
 userId                                  | 6941
 totalSpent                              | 6941
 pointsEarned                            | 6251
 rewardsReceiptStatus                    | 6941
 item_barcode                            | 3090
 item_brandCode                          | 2600
 item_competitorRewardsGroup             | 275
 item_description                        | 6560
 item_discountedItemPrice                | 5769
 item_finalPrice                         | 6767
 item_itemNumber                         | 153
 item_itemPrice                          | 6767
 item_metabriteCampaignId                | 863
 item_needsFetchReviewReason             | 219
 item_originalFinalPrice                 | 9
 item_originalMetaBriteBarcode           | 71
 item_originalMetaBriteDescription       | 10
 item_originalMetaBriteItemPrice         | 9
 item_originalMetaBriteQuantityPurchased | 15
 item_originalReceiptItemText            | 5760
 item_partnerItemId                      | 6941
 item_pointsEarned                       | 927
 item_pointsNotAwardedReason             | 340
 item_pointsPayerId                      | 1267
 item_priceAfterCoupon                   | 956
 item_quantityPurchased                  | 6767
 item_rewardsGroup                       | 1731
 item_rewardsProductPartnerId            | 2269
 item_targetPrice                        | 378
 item_userFlaggedBarcode                 | 337
 item_userFlaggedDescription             | 205
 item_userFlaggedPrice                   | 299
 item_userFlaggedQuantity                | 299
-RECORD 1---------------------------------------------------------------------------------------------------------------
 summary                                 | mean
 receipt_id                              | NULL
 createDate                              | NULL
 dateScanned                             | NULL
 finishedDate                            | NULL
 modifyDate                              | NULL
 pointsAwardedDate                       | NULL
 purchaseDate                            | NULL
 userId                                  | NULL
 totalSpent                              | 1369.563070162824
 pointsEarned                            | 2176.1597824347077
 rewardsReceiptStatus                    | NULL
 item_barcode                            | 1.1504457980992819E11
 item_brandCode                          | NULL
 item_competitorRewardsGroup             | NULL
 item_description                        | NULL
 item_discountedItemPrice                | 7.664366441324412
 item_finalPrice                         | 7.871661001921113
 item_itemNumber                         | 5.102201406586275E10
 item_itemPrice                          | 7.872178217821807
 item_metabriteCampaignId                | NULL
 item_needsFetchReviewReason             | NULL
 item_originalFinalPrice                 | 4.0
 item_originalMetaBriteBarcode           | 5.6569264585208336E10
 item_originalMetaBriteDescription       | NULL
 item_originalMetaBriteItemPrice         | 4.0
 item_originalMetaBriteQuantityPurchased | 1.2
 item_originalReceiptItemText            | NULL
 item_partnerItemId                      | 988.5242760409163
 item_pointsEarned                       | 140.5083063646165
 item_pointsNotAwardedReason             | NULL
 item_pointsPayerId                      | NULL
 item_priceAfterCoupon                   | 10.393357740585687
 item_quantityPurchased                  | 1.386138613861386
 item_rewardsGroup                       | NULL
 item_rewardsProductPartnerId            | NULL
 item_targetPrice                        | 648.8968253968254
 item_userFlaggedBarcode                 | 2.227665391467656E10
 item_userFlaggedDescription             | NULL
 item_userFlaggedPrice                   | 22.780869565217397
 item_userFlaggedQuantity                | 1.8729096989966556
-RECORD 2---------------------------------------------------------------------------------------------------------------
 summary                                 | stddev
 receipt_id                              | NULL
 createDate                              | NULL
 dateScanned                             | NULL
 finishedDate                            | NULL
 modifyDate                              | NULL
 pointsAwardedDate                       | NULL
 purchaseDate                            | NULL
 userId                                  | NULL
 totalSpent                              | 1589.1067953706151
 pointsEarned                            | 2175.8417960787224
 rewardsReceiptStatus                    | NULL
 item_barcode                            | 2.910612719433725E11
 item_brandCode                          | NULL
 item_competitorRewardsGroup             | NULL
 item_description                        | NULL
 item_discountedItemPrice                | 15.46377834238081
 item_finalPrice                         | 14.656775809848568
 item_itemNumber                         | 1.5536638182733624E11
 item_itemPrice                          | 14.656623160441782
 item_metabriteCampaignId                | NULL
 item_needsFetchReviewReason             | NULL
 item_originalFinalPrice                 | 4.5
 item_originalMetaBriteBarcode           | 2.6471036856229385E10
 item_originalMetaBriteDescription       | NULL
 item_originalMetaBriteItemPrice         | 4.5
 item_originalMetaBriteQuantityPurchased | 0.4140393356054125
 item_originalReceiptItemText            | NULL
 item_partnerItemId                      | 527.3808221571741
 item_pointsEarned                       | 223.00559433277894
 item_pointsNotAwardedReason             | NULL
 item_pointsPayerId                      | NULL
 item_priceAfterCoupon                   | 18.69561466965116
 item_quantityPurchased                  | 1.2043631759028985
 item_rewardsGroup                       | NULL
 item_rewardsProductPartnerId            | NULL
 item_targetPrice                        | 294.35462370953
 item_userFlaggedBarcode                 | 2.121378284112294E10
 item_userFlaggedDescription             | NULL
 item_userFlaggedPrice                   | 9.277958178723981
 item_userFlaggedQuantity                | 1.3148232950429093
-RECORD 3---------------------------------------------------------------------------------------------------------------
 summary                                 | min
 receipt_id                              | 5f9c74f70a7214ad07000037
 createDate                              | 2020-10-30 20:17:59
 dateScanned                             | 2020-10-30 20:17:59
 finishedDate                            | 2021-01-03 15:24:10
 modifyDate                              | 2021-01-03 15:24:10
 pointsAwardedDate                       | 2020-10-30 20:18:00
 purchaseDate                            | 2017-10-30 00:00:00
 userId                                  | 54943462e4b07e684157a532
 totalSpent                              | 0.00
 pointsEarned                            | 0.0
 rewardsReceiptStatus                    | FINISHED
 item_barcode                            | 000980000069
 item_brandCode                          | 7UP
 item_competitorRewardsGroup             | A.1. DRY RUB
 item_description                        |  BATH
 item_discountedItemPrice                | 0.16
 item_finalPrice                         | 0.00
 item_itemNumber                         | 000980000069
 item_itemPrice                          | 0.00
 item_metabriteCampaignId                | ARNOLD ORGANIC BREAD
 item_needsFetchReviewReason             | POINTS_GREATER_THAN_THRESHOLD
 item_originalFinalPrice                 | 1.00
 item_originalMetaBriteBarcode           |
 item_originalMetaBriteDescription       | DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ
 item_originalMetaBriteItemPrice         | 1.00
 item_originalMetaBriteQuantityPurchased | 1
 item_originalReceiptItemText            |  BATH
 item_partnerItemId                      | 0
 item_pointsEarned                       | 10.0
 item_pointsNotAwardedReason             | Action not allowed for user and CPG
 item_pointsPayerId                      | 5332f5f3e4b03c9a25efd0ae
 item_priceAfterCoupon                   | 0.19
 item_quantityPurchased                  | 1
 item_rewardsGroup                       | AIR WICK ROOM SPRAYS
 item_rewardsProductPartnerId            | 5332f5f3e4b03c9a25efd0ae
 item_targetPrice                        | 77
 item_userFlaggedBarcode                 | 028400642255
 item_userFlaggedDescription             |
 item_userFlaggedPrice                   | 1.00
 item_userFlaggedQuantity                | 1
-RECORD 4---------------------------------------------------------------------------------------------------------------
 summary                                 | max
 receipt_id                              | 603d5d6c0a7217c72c000463
 createDate                              | 2021-03-01 21:32:28
 dateScanned                             | 2021-03-01 21:32:28
 finishedDate                            | 2021-02-26 22:36:25
 modifyDate                              | 2021-03-01 21:32:29
 pointsAwardedDate                       | 2021-02-26 22:36:25
 purchaseDate                            | 2021-03-08 17:37:13
 userId                                  | 60268c7bb545931ac63683af
 totalSpent                              | 99.95
 pointsEarned                            | 986.5
 rewardsReceiptStatus                    | REJECTED
 item_barcode                            | B08DQDHR2S
 item_brandCode                          | ZESTA
 item_competitorRewardsGroup             | VELVEETA CHEESE - SAUCE
 item_description                        | thindust summer face mask - sun protection neck gaiter for outdooractivities
 item_discountedItemPrice                | 95.84
 item_finalPrice                         | 95.84
 item_itemNumber                         | 887214041018
 item_itemPrice                          | 95.84
 item_metabriteCampaignId                | YUBAN COFFEE
 item_needsFetchReviewReason             | USER_FLAGGED
 item_originalFinalPrice                 | 10.00
 item_originalMetaBriteBarcode           | 080878042197
 item_originalMetaBriteDescription       | MILLER LITE 24 PACK 12OZ CAN
 item_originalMetaBriteItemPrice         | 10.00
 item_originalMetaBriteQuantityPurchased | 2
 item_originalReceiptItemText            | thindust summer face mask - sun protection neck gaiter for outdooractivities
 item_partnerItemId                      | 997
 item_pointsEarned                       | 99.9
 item_pointsNotAwardedReason             | Action not allowed for user and CPG
 item_pointsPayerId                      | 5ffdb69ebe37ce746df1192a
 item_priceAfterCoupon                   | 95.84
 item_quantityPurchased                  | 17
 item_rewardsGroup                       | YUBAN COFFEE
 item_rewardsProductPartnerId            | 5ffdb69ebe37ce746df1192a
 item_targetPrice                        | 800
 item_userFlaggedBarcode                 | 4011
 item_userFlaggedDescription             | MILLER LITE 24 PACK 12OZ CAN
 item_userFlaggedPrice                   | 29.00
 item_userFlaggedQuantity                | 5

In [14]:
df_receipt_item.printSchema()

root
 |-- receipt_id: string (nullable = true)
 |-- createDate: string (nullable = true)
 |-- dateScanned: string (nullable = true)
 |-- finishedDate: string (nullable = true)
 |-- modifyDate: string (nullable = true)
 |-- pointsAwardedDate: string (nullable = true)
 |-- purchaseDate: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- totalSpent: string (nullable = true)
 |-- pointsEarned: string (nullable = true)
 |-- rewardsReceiptStatus: string (nullable = true)
 |-- item_barcode: string (nullable = true)
 |-- item_brandCode: string (nullable = true)
 |-- item_competitiveProduct: boolean (nullable = true)
 |-- item_competitorRewardsGroup: string (nullable = true)
 |-- item_deleted: boolean (nullable = true)
 |-- item_description: string (nullable = true)
 |-- item_discountedItemPrice: string (nullable = true)
 |-- item_finalPrice: string (nullable = true)
 |-- item_itemNumber: string (nullable = true)
 |-- item_itemPrice: string (nullable = true)
 |-- item_metabriteCampaignId: string (nullable = true)
 |-- item_needsFetchReview: boolean (nullable = true)
 |-- item_needsFetchReviewReason: string (nullable = true)
 |-- item_originalFinalPrice: string (nullable = true)
 |-- item_originalMetaBriteBarcode: string (nullable = true)
 |-- item_originalMetaBriteDescription: string (nullable = true)
 |-- item_originalMetaBriteItemPrice: string (nullable = true)
 |-- item_originalMetaBriteQuantityPurchased: long (nullable = true)
 |-- item_originalReceiptItemText: string (nullable = true)
 |-- item_partnerItemId: string (nullable = true)
 |-- item_pointsEarned: string (nullable = true)
 |-- item_pointsNotAwardedReason: string (nullable = true)
 |-- item_pointsPayerId: string (nullable = true)
 |-- item_preventTargetGapPoints: boolean (nullable = true)
 |-- item_priceAfterCoupon: string (nullable = true)
 |-- item_quantityPurchased: long (nullable = true)
 |-- item_rewardsGroup: string (nullable = true)
 |-- item_rewardsProductPartnerId: string (nullable = true)
 |-- item_targetPrice: string (nullable = true)
 |-- item_userFlaggedBarcode: string (nullable = true)
 |-- item_userFlaggedDescription: string (nullable = true)
 |-- item_userFlaggedNewItem: boolean (nullable = true)
 |-- item_userFlaggedPrice: string (nullable = true)
 |-- item_userFlaggedQuantity: long (nullable = true)

## **Evaluate Data Quality Issues in the Data Provided**

Using the programming language of your choice (SQL, Python, R, Bash, etc...) identify as many data quality issues as you can. We are not expecting a full blown review of all the data provided, but instead want to know how you explore and evaluate data of questionable provenance.

Commit your code and findings to the git repository along with the rest of the exercise

In [15]:
df_users.describe().show()

+-------+--------------------+-----------+------------+-----+
|summary|                 _id|       role|signUpSource|state|
+-------+--------------------+-----------+------------+-----+
|  count|                 494|        494|         446|  438|
|   mean|                NULL|       NULL|        NULL| NULL|
| stddev|                NULL|       NULL|        NULL| NULL|
|    min|54943462e4b07e684...|   consumer|       Email|   AL|
|    max|60268c7aefa6011bb...|fetch-staff|      Google|   WI|
+-------+--------------------+-----------+------------+-----+

#### **1. Formatting Issue:**

    - User data JSON does not conform to a valid JSON syntax - unable to read JSON lines as a single JSON document with line-delimited mode. 
        - Requires additional data clean up and enforcing to process line by line. 
                1. Read the file as a string
                2. Fix the structure (e.g., by inserting commas between objects, or wrapping the entire string in square brackets.
                3. Process data
        - Not recommended for large datasets and impact scalability and to enable streaming. 
    - 2 user records not processed due to invalid JSON format (corrupt records)

In [16]:
# SQL query for the view
sql_query = """
    SELECT count(1) as corrupt_record_cnt FROM users_raw where _corrupt_record is not NULL
"""
# Execute SQL query
df_user_profiling = spark.sql(sql_query)

df_user_profiling.show(truncate=False)

+------------------+
|corrupt_record_cnt|
+------------------+
|2                 |
+------------------+

#### **2. Evaluate NULL values.**

        - Check NULLs in lastLogin, signUpSource and state fields in "user" table.

In [17]:
# # Run a Spark SQL query 
# SQL query for the view
sql_query = """
    SELECT 'Count of NULL values: NULL _id', count(1) as cnt FROM users where _id is NULL
    UNION
    SELECT 'Count of NULL values: NULL createdDate', count(1) as cnt FROM users where createdDate is NULL
    UNION
    SELECT 'Count of NULL values: NULL lastLogin', count(1) as cnt FROM users where lastLogin is NULL
    UNION
    SELECT 'Count of NULL values: NULL active', count(1) as cnt FROM users where active is NULL
    UNION
    SELECT 'Count of NULL values: NULL signUpSource', count(1) as cnt FROM users where signUpSource is NULL
    UNION
    SELECT 'Count of NULL values: NULL state', count(1) as cnt FROM users where state is NULL
"""
# Execute SQL query
df_user_profiling = spark.sql(sql_query)

df_user_profiling.show(truncate=False)

#df_trans.printSchema()

+---------------------------------------+---+
|Count of NULL values: NULL _id         |cnt|
+---------------------------------------+---+
|Count of NULL values: NULL _id         |0  |
|Count of NULL values: NULL createdDate |0  |
|Count of NULL values: NULL lastLogin   |62 |
|Count of NULL values: NULL active      |0  |
|Count of NULL values: NULL signUpSource|48 |
|Count of NULL values: NULL state       |56 |
+---------------------------------------+---+

**b. Check NULLs in "brands" table.**

In [27]:
# # Run a Spark SQL query 
# SQL query for the view
sql_query = """
    SELECT 'Count of NULL values: NULL barcode' as Count_of_NULLs, count(1) as cnt FROM brands where barcode is NULL
    UNION
    SELECT 'Count of NULL values: NULL brandCode' as Count_of_NULLs, count(1) as cnt FROM brands where brandCode is NULL
    UNION
    SELECT 'Count of NULL values: NULL category' as Count_of_NULLs, count(1) as cnt FROM brands where category is NULL
    UNION
    SELECT 'Count of NULL values: NULL categoryCode' as Count_of_NULLs, count(1) as cnt FROM brands where categoryCode is NULL
    UNION
    SELECT 'Count of NULL values: NULL name' as Count_of_NULLs, count(1) as cnt FROM brands where name is NULL
    UNION
    SELECT 'Count of NULL values: NULL cpg_id' as Count_of_NULLs, count(1) as cnt FROM brands where cpg_id is NULL
"""
# Execute SQL query
df_user_profiling = spark.sql(sql_query)

df_user_profiling.show(truncate=False)

#df_trans.printSchema()

+---------------------------------------+---+
|Count_of_NULLs                         |cnt|
+---------------------------------------+---+
|Count of NULL values: NULL barcode     |0  |
|Count of NULL values: NULL brandCode   |234|
|Count of NULL values: NULL category    |155|
|Count of NULL values: NULL categoryCode|650|
|Count of NULL values: NULL name        |0  |
|Count of NULL values: NULL cpg_id      |0  |
+---------------------------------------+---+

**c. Check NULLs in "Receipts" table.**

In [31]:
# # Run a Spark SQL query 
# SQL query for the view
sql_query = """
    SELECT 'Count of NULL values: NULL _id' as Count_of_NULLs, count(1) as cnt FROM receipts where _id is NULL
    UNION
    SELECT 'Count of NULL values: NULL createDate' as Count_of_NULLs, count(1) as cnt FROM receipts where createDate is NULL
    UNION
    SELECT 'Count of NULL values: NULL finishedDate ' as Count_of_NULLs, count(1) as cnt FROM receipts where finishedDate is NULL
    UNION
    SELECT 'Count of NULL values: NULL purchaseDate' as Count_of_NULLs, count(1) as cnt FROM receipts where purchaseDate is NULL
    UNION
    SELECT 'Count of NULL values: NULL rewardsReceiptStatus' as Count_of_NULLs, count(1) as cnt FROM receipts where rewardsReceiptStatus is NULL
    UNION
    SELECT 'Count of NULL values: NULL userid' as Count_of_NULLs, count(1) as cnt FROM receipts where userid is NULL
"""
# Execute SQL query
df_user_profiling = spark.sql(sql_query)

df_user_profiling.show(truncate=False)

+-----------------------------------------------+---+
|Count_of_NULLs                                 |cnt|
+-----------------------------------------------+---+
|Count of NULL values: NULL _id                 |0  |
|Count of NULL values: NULL createDate          |0  |
|Count of NULL values: NULL finishedDate        |974|
|Count of NULL values: NULL purchaseDate        |21 |
|Count of NULL values: NULL rewardsReceiptStatus|0  |
|Count of NULL values: NULL userid              |0  |
+-----------------------------------------------+---+

**d. Check NULLs in "receipt_item" table.**

In [32]:
# # Run a Spark SQL query 
# SQL query for the view
sql_query = """
    SELECT 'Count of NULL values: NULL receipt_id' as Count_of_NULLs, count(1) as cnt FROM receipt_item where receipt_id is NULL
    UNION
    SELECT 'Count of NULL values: NULL createDate' as Count_of_NULLs, count(1) as cnt FROM receipt_item where createDate is NULL
    UNION
    SELECT 'Count of NULL values: NULL dateScanned ' as Count_of_NULLs, count(1) as cnt FROM receipt_item where dateScanned is NULL
    UNION
    SELECT 'Count of NULL values: NULL userId' as Count_of_NULLs, count(1) as cnt FROM receipt_item where userId is NULL
    UNION
    SELECT 'Count of NULL values: NULL item_barcode' as Count_of_NULLs, count(1) as cnt FROM receipt_item where item_barcode is NULL
    UNION
    SELECT 'Count of NULL values: NULL item_brandCode' as Count_of_NULLs, count(1) as cnt FROM receipt_item where item_brandCode is NULL
    UNION
    SELECT 'Count of NULL values: NULL item_description' as Count_of_NULLs, count(1) as cnt FROM receipt_item where item_description is NULL
"""
# Execute SQL query
df_user_profiling = spark.sql(sql_query)

df_user_profiling.show(truncate=False)

+-------------------------------------------+----+
|Count_of_NULLs                             |cnt |
+-------------------------------------------+----+
|Count of NULL values: NULL receipt_id      |0   |
|Count of NULL values: NULL createDate      |0   |
|Count of NULL values: NULL dateScanned     |0   |
|Count of NULL values: NULL userId          |0   |
|Count of NULL values: NULL item_barcode    |3851|
|Count of NULL values: NULL item_brandCode  |4341|
|Count of NULL values: NULL item_description|381 |
+-------------------------------------------+----+

#### **3. Evaluate duplicates values in "user" table.**

**Duplicates in User table**

    - See the result with duplicates and after applying distinct on user table for the ids, '600f47f06fd0dc1768a34a12','6014558767804a1228b20d00', '5ff5d15aeb7c7d12096d91a2

In [18]:
# # Run a Spark SQL query 
# SQL query for the view
sql_query = """
    SELECT _id,  count(1) as cnt FROM users group by _id
    having count(1) > 1
"""
# Execute SQL query
df_user_profiling1 = spark.sql(sql_query)

df_user_profiling1.show(truncate=False)

+------------------------+---+
|_id                     |cnt|
+------------------------+---+
|600f47f06fd0dc1768a34a12|3  |
|60005709bd4dff11dda90ac1|2  |
|6014558767804a1228b20d00|2  |
|5fbc35711d967d1222cbfefc|3  |
|5ffc8f9704929111f6e922bf|6  |
|5fff55dabd4dff11dda8f5f1|7  |
|5ff4ce3dc3d63511e2a484dc|4  |
|6011f33173c60b1804ce1102|4  |
|5fff0f4fb3348b03eb45abb0|4  |
|60189c74c8b50e11d8454eff|7  |
|5ff73b90eb7c7d31ca8a452b|2  |
|601c2c05969c0b11f7d0b097|2  |
|60074b49325c8a1794623876|2  |
|600056a3f7e5b011fce897b0|8  |
|6008893b633aab121bb8e0a9|5  |
|6010bddaa4b74c120bd19dfb|3  |
|5ff5d15aeb7c7d12096d91a2|18 |
|60088d55633aab121bb8e41a|2  |
|6011f31ea4b74c18d3a8c476|4  |
|5ff36d0362fde912123a5535|3  |
+------------------------+---+
only showing top 20 rows

In [23]:
# # Run a Spark SQL query 
# SQL query for the view
sql_query = """
    SELECT _id, active, createdDate, lastLogin, role, signUpSource, state FROM users 
      where _id in ('600f47f06fd0dc1768a34a12','6014558767804a1228b20d00', '5ff5d15aeb7c7d12096d91a2')
     
"""
# Execute SQL query
df_user_profiling1 = spark.sql(sql_query)

df_user_profiling1.show(truncate=False)

sql_query1 = """
    SELECT distinct _id, active, createdDate, lastLogin, role, signUpSource, state FROM users 
      where _id in ('600f47f06fd0dc1768a34a12','6014558767804a1228b20d00', '5ff5d15aeb7c7d12096d91a2')
     
"""
# Execute SQL query
df_user_profiling_dups = spark.sql(sql_query1)

df_user_profiling_dups.show(truncate=False)

#df_trans.printSchema()

+------------------------+------+-----------------------+-----------------------+--------+------------+-----+
|_id                     |active|createdDate            |lastLogin              |role    |signUpSource|state|
+------------------------+------+-----------------------+-----------------------+--------+------------+-----+
|5ff5d15aeb7c7d12096d91a2|true  |2021-01-06 15:03:54.68 |2021-01-06 15:08:10.009|consumer|Email       |WI   |
|5ff5d15aeb7c7d12096d91a2|true  |2021-01-06 15:03:54.68 |2021-01-06 15:08:10.009|consumer|Email       |WI   |
|5ff5d15aeb7c7d12096d91a2|true  |2021-01-06 15:03:54.68 |2021-01-06 15:08:10.009|consumer|Email       |WI   |
|5ff5d15aeb7c7d12096d91a2|true  |2021-01-06 15:03:54.68 |2021-01-06 15:08:10.009|consumer|Email       |WI   |
|5ff5d15aeb7c7d12096d91a2|true  |2021-01-06 15:03:54.68 |2021-01-06 15:08:10.009|consumer|Email       |WI   |
|5ff5d15aeb7c7d12096d91a2|true  |2021-01-06 15:03:54.68 |2021-01-06 15:08:10.009|consumer|Email       |WI   |
|5ff5d15aeb7c7d12096d91a2|true  |2021-01-06 15:03:54.68 |2021-01-06 15:08:10.009|consumer|Email       |WI   |
|5ff5d15aeb7c7d12096d91a2|true  |2021-01-06 15:03:54.68 |2021-01-06 15:08:10.009|consumer|Email       |WI   |
|5ff5d15aeb7c7d12096d91a2|true  |2021-01-06 15:03:54.68 |2021-01-06 15:08:10.009|consumer|Email       |WI   |
|5ff5d15aeb7c7d12096d91a2|true  |2021-01-06 15:03:54.68 |2021-01-06 15:08:10.009|consumer|Email       |WI   |
|5ff5d15aeb7c7d12096d91a2|true  |2021-01-06 15:03:54.68 |2021-01-06 15:08:10.009|consumer|Email       |WI   |
|5ff5d15aeb7c7d12096d91a2|true  |2021-01-06 15:03:54.68 |2021-01-06 15:08:10.009|consumer|Email       |WI   |
|5ff5d15aeb7c7d12096d91a2|true  |2021-01-06 15:03:54.68 |2021-01-06 15:08:10.009|consumer|Email       |WI   |
|5ff5d15aeb7c7d12096d91a2|true  |2021-01-06 15:03:54.68 |2021-01-06 15:08:10.009|consumer|Email       |WI   |
|5ff5d15aeb7c7d12096d91a2|true  |2021-01-06 15:03:54.68 |2021-01-06 15:08:10.009|consumer|Email       |WI   |
|5ff5d15aeb7c7d12096d91a2|true  |2021-01-06 15:03:54.68 |2021-01-06 15:08:10.009|consumer|Email       |WI   |
|5ff5d15aeb7c7d12096d91a2|true  |2021-01-06 15:03:54.68 |2021-01-06 15:08:10.009|consumer|Email       |WI   |
|5ff5d15aeb7c7d12096d91a2|true  |2021-01-06 15:03:54.68 |2021-01-06 15:08:10.009|consumer|Email       |WI   |
|600f47f06fd0dc1768a34a12|true  |2021-01-25 22:36:32.551|2021-01-25 22:40:13.981|consumer|Email       |WI   |
|600f47f06fd0dc1768a34a12|true  |2021-01-25 22:36:32.551|2021-01-25 22:40:13.981|consumer|Email       |WI   |
+------------------------+------+-----------------------+-----------------------+--------+------------+-----+
only showing top 20 rows

+------------------------+------+-----------------------+-----------------------+--------+------------+-----+
|_id                     |active|createdDate            |lastLogin              |role    |signUpSource|state|
+------------------------+------+-----------------------+-----------------------+--------+------------+-----+
|600f47f06fd0dc1768a34a12|true  |2021-01-25 22:36:32.551|2021-01-25 22:40:13.981|consumer|Email       |WI   |
|5ff5d15aeb7c7d12096d91a2|true  |2021-01-06 15:03:54.68 |2021-01-06 15:08:10.009|consumer|Email       |WI   |
|6014558767804a1228b20d00|true  |2021-01-29 18:35:51.391|2021-01-29 18:35:51.434|consumer|Email       |WI   |
+------------------------+------+-----------------------+-----------------------+--------+------------+-----+

In [20]:
df_brands.describe().show()

+-------+--------------------+--------------------+--------------------+--------+-------------+--------------------+
|summary|                 _id|             barcode|           brandCode|category| categoryCode|                name|
+-------+--------------------+--------------------+--------------------+--------+-------------+--------------------+
|  count|                1167|                1167|                 933|    1012|          517|                1167|
|   mean|                NULL|5.111114594175038...| 4.93037467029625E11|    NULL|         NULL|                NULL|
| stddev|                NULL|   287449.7490955448|9.476837353492757E10|    NULL|         NULL|                NULL|
|    min|5332f5ebe4b03c9a2...|        511111000167|                    |    Baby|         BABY|                   .|
|    max|6026d757be37ce636...|        511111919803|             ZUMBIDA|  Snacks|PERSONAL_CARE|test brand @16131...|
+-------+--------------------+--------------------+--------------------+--------+-------------+--------------------+

**Duplicates in Brands table**

    - For eg: Same barcode "511111004790" is associated with 2 products.

In [34]:
# # Run a Spark SQL query 
# SQL query for the view
sql_query = """
    SELECT barcode,  count(1) as cnt FROM brands group by barcode
    having count(1) > 1
"""
# Execute SQL query
df_brands_profiling1 = spark.sql(sql_query)

df_brands_profiling1.show(truncate=False)

#df_trans.printSchema()

+------------+---+
|barcode     |cnt|
+------------+---+
|511111204923|2  |
|511111504788|2  |
|511111004790|2  |
|511111605058|2  |
|511111305125|2  |
|511111704140|2  |
|511111504139|2  |
+------------+---+

In [35]:
# # Run a Spark SQL query 
# SQL query for the view
sql_query = """
    SELECT _id, barcode, brandCode, category,categoryCode, name,topBrand,cpg_id,cpg_ref FROM brands 
    where barcode in ('511111204923', '511111504788', '511111004790', '511111605058', '511111305125', '511111704140', '511111504139')
    order by barcode
"""
# Execute SQL query
df_brands_profiling2 = spark.sql(sql_query)

df_brands_profiling2.show(truncate=False)

#df_trans.printSchema()

+------------------------+------------+-------------+-------------------+------------+--------------------+--------+------------------------+-------+
|_id                     |barcode     |brandCode    |category           |categoryCode|name                |topBrand|cpg_id                  |cpg_ref|
+------------------------+------------+-------------+-------------------+------------+--------------------+--------+------------------------+-------+
|5c409ab4cd244a3539b84162|511111004790|ALEXA        |Baking             |NULL        |alexa               |true    |55b62995e4b0d8e685c14213|Cogs   |
|5cdacd63166eb33eb7ce0fa8|511111004790|BITTEN       |Condiments & Sauces|NULL        |Bitten Dressing     |NULL    |559c2234e4b06aca36af13c6|Cogs   |
|5c45f91b87ff3552f950f027|511111204923|0987654321   |Grocery            |NULL        |Brand1              |true    |5c45f8b087ff3552f950f026|Cogs   |
|5d6027f46d5f3b23d1bc7906|511111204923|CHESTERS     |Snacks             |NULL        |CHESTER'S           |NULL    |5332f5fbe4b03c9a25efd0ba|Cogs   |
|5c4699f387ff3577e203ea29|511111305125|CHRISIMAGE   |Baby               |NULL        |Chris Image Test    |NULL    |55b62995e4b0d8e685c14213|Cogs   |
|5d642d65a3a018514994f42d|511111305125|511111305125 |Magazines          |NULL        |Rachael Ray Everyday|NULL    |5d5d4fd16d5f3b23d1bc7905|Cogs   |
|5a7e0604e4b0aedb3b84afd3|511111504139|CHRISXYZ     |Beverages          |NULL        |Chris Brand XYZ     |NULL    |55b62995e4b0d8e685c14213|Cogs   |
|5a8c33f3e4b07f0a2dac8943|511111504139|PACE         |Grocery            |NULL        |Pace                |false   |5a734034e4b0d58f376be874|Cogs   |
|5c408e8bcd244a1fdb47aee7|511111504788|TEST         |Baking             |NULL        |test                |NULL    |59ba6f1ce4b092b29c167346|Cogs   |
|5ccb2ece166eb31bbbadccbe|511111504788|PIONEER WOMAN|Condiments & Sauces|NULL        |The Pioneer Woman   |NULL    |559c2234e4b06aca36af13c6|Cogs   |
|5d6415d5a3a018514994f429|511111605058|511111605058 |Magazines          |NULL        |Health Magazine     |NULL    |5d5d4fd16d5f3b23d1bc7905|Cogs   |
|5c4637ba87ff35681e840d57|511111605058|09090909090  |Dairy              |NULL        |Brand2              |true    |5c45f8b087ff3552f950f026|Cogs   |
|5a8c344ae4b0ccf165fac9e5|511111704140|PREGO        |Condiments & Sauces|NULL        |Prego               |false   |5a734034e4b0d58f376be874|Cogs   |
|5a7e0665e4b0aedb3b84afd4|511111704140|DIETCHRIS2   |NULL               |NULL        |Diet Chris Cola     |NULL    |55b62995e4b0d8e685c14213|Cogs   |
+------------------------+------------+-------------+-------------------+------------+--------------------+--------+------------------------+-------+

#### **4. Evaluate other data anomalies**

**1. Brand Name is present, but brandCode is NULL.**

In [36]:
# # Run a Spark SQL query 
# SQL query for the view
sql_query = """
    SELECT _id, barcode, brandCode, category,categoryCode, name,topBrand,cpg_id,cpg_ref FROM brands 
    where brandCode is NULL
"""
# Execute SQL query
df_user_profiling1 = spark.sql(sql_query)

df_user_profiling1.show(truncate=False)

#df_trans.printSchema()

+------------------------+------------+---------+--------+------------+-------------------------+--------+------------------------+-------+
|_id                     |barcode     |brandCode|category|categoryCode|name                     |topBrand|cpg_id                  |cpg_ref|
+------------------------+------------+---------+--------+------------+-------------------------+--------+------------------------+-------+
|601ac115be37ce2ead437551|511111019862|NULL     |Baking  |BAKING      |test brand @1612366101024|false   |601ac114be37ce2ead437550|Cogs   |
|57c08106e4b0718ff5fcb02c|511111102540|NULL     |NULL    |NULL        |MorningStar              |NULL    |5332f5f2e4b03c9a25efd0aa|Cpgs   |
|5fb28549be37ce522e165cb5|511111317364|NULL     |Baking  |BAKING      |test brand @1605535049181|false   |5fb28549be37ce522e165cb4|Cogs   |
|5332f5fee4b03c9a25efd0bd|511111303947|NULL     |NULL    |NULL        |Bottled Starbucks        |NULL    |53e10d6368abd3c7065097cc|Cpgs   |
|5332fa7ce4b03c9a25efd22e|511111802914|NULL     |NULL    |NULL        |Full Throttle            |NULL    |5332f5ebe4b03c9a25efd0a8|Cpgs   |
|5e9f18bfbe37ce3e45b6a77f|511111914549|NULL     |Baking  |BAKING      |PopUp Brand A            |NULL    |5e9f12f5be37ce3e45b6a77e|Cogs   |
|5f4936ddbe37ce52f8314fd9|511111315957|NULL     |Baking  |BAKING      |test brand @1598633693011|NULL    |5f4936dcbe37ce52f8314fd8|Cogs   |
|5fd2a0aebe37ce49eb72c0ee|511111518112|NULL     |Baking  |BAKING      |test brand @1607639214411|false   |5fd2a0aebe37ce49eb72c0ed|Cogs   |
|5332f772e4b03c9a25efd125|511111103653|NULL     |NULL    |NULL        |Gold Medal               |NULL    |5332f5f3e4b03c9a25efd0ae|Cpgs   |
|5332f765e4b03c9a25efd11f|511111503699|NULL     |NULL    |NULL        |Glaceau vitaminwater     |NULL    |5332f5ebe4b03c9a25efd0a8|Cpgs   |
|5332f5f3e4b03c9a25efd0ad|511111104025|NULL     |NULL    |NULL        |Gree Giant               |NULL    |5332f5f3e4b03c9a25efd0ae|Cpgs   |
|55b630d9e4b0d8e685c1421f|511111302629|NULL     |NULL    |NULL        |Sundrop                  |NULL    |55b62995e4b0d8e685c14213|Cogs   |
|5332f6ede4b03c9a25efd0e5|511111603870|NULL     |NULL    |NULL        |Blue Bunny               |NULL    |5332f6ede4b03c9a25efd0e6|Cpgs   |
|5332fa05e4b03c9a25efd1d6|511111103141|NULL     |NULL    |NULL        |Krave                    |NULL    |5332f5f2e4b03c9a25efd0aa|Cpgs   |
|55b630e1e4b0d8e685c14220|511111102618|NULL     |NULL    |NULL        |A&W Rootbeer             |NULL    |55b62995e4b0d8e685c14213|Cogs   |
|5f3e9195be37ce5a0e01b960|511111615583|NULL     |Baking  |BAKING      |test brand @1597936021514|NULL    |5f3e9195be37ce5a0e01b95f|Cogs   |
|5332f743e4b03c9a25efd109|511111903789|NULL     |Snacks  |NULL        |Keebler                  |NULL    |5332f5f2e4b03c9a25efd0aa|Cpgs   |
|5332fa7ee4b03c9a25efd230|511111702894|NULL     |NULL    |NULL        |Powerade                 |NULL    |5332f5ebe4b03c9a25efd0a8|Cpgs   |
|57ace91ae4b057c992a316ac|511111602552|NULL     |NULL    |NULL        |Pizza Pizza Pizza        |NULL    |57ace90fe4b057c992a316ab|Cpgs   |
|5332f5f2e4b03c9a25efd0ab|511111604037|NULL     |NULL    |NULL        |Our Family               |NULL    |5332f5f3e4b03c9a25efd0ac|Cpgs   |
+------------------------+------------+---------+--------+------------+-------------------------+--------+------------------------+-------+
only showing top 20 rows

**2. Category is not NULL, categoryCode is NULL**

In [37]:
# # Run a Spark SQL query 
# SQL query for the view
sql_query = """
    SELECT _id, barcode, brandCode, category,categoryCode, name,topBrand FROM brands 
    where (category is NULL and categoryCode is not NULL) or (category is not NULL and categoryCode is NULL)
"""
# Execute SQL query
df_user_profiling1 = spark.sql(sql_query)

df_user_profiling1.show(truncate=False)

#df_trans.printSchema()

+------------------------+------------+----------------------------+--------------------+------------+--------------------------+--------+
|_id                     |barcode     |brandCode                   |category            |categoryCode|name                      |topBrand|
+------------------------+------------+----------------------------+--------------------+------------+--------------------------+--------+
|5cdad0f5166eb33eb7ce0faa|511111104810|J.L. KRAFT                  |Condiments & Sauces |NULL        |J.L. Kraft                |NULL    |
|5ab15636e4b0be0a89bb0b07|511111504412|CAMPBELLS HOME STYLE        |Canned Goods & Soups|NULL        |Campbell's Home Style     |false   |
|5c408e8bcd244a1fdb47aee7|511111504788|TEST                        |Baking              |NULL        |test                      |NULL    |
|588ba07be4b02187f85cdadd|511111201076|CALUMET                     |Baking              |NULL        |Calumet                   |false   |
|5d6413156d5f3b23d1bc790a|511111205012|511111205012                |Magazines           |NULL        |Entertainment Weekly      |NULL    |
|585a9611e4b03e62d1ce0e74|511111801801|AUNT JEMIMA SYRUP           |Breakfast & Cereal  |NULL        |AUNT JEMIMA Syrup         |false   |
|57e5820ce4b0ac389136a311|511111202233|MOLSON                      |Beer Wine Spirits   |NULL        |Molson Canadian           |false   |
|592486bfe410d61fcea3d139|511111300700|ST IVES                     |Beauty              |NULL        |ST. IVES                  |false   |
|5c4699f387ff3577e203ea29|511111305125|CHRISIMAGE                  |Baby                |NULL        |Chris Image Test          |NULL    |
|57ebc011e4b0ac389136a335|511111802129|JACK DANIEL'S BARBECUE      |Condiments & Sauces |NULL        |Jack Daniel's             |false   |
|592486bee410d61fcea3d133|511111400769|MAGNUM Ice Cream            |Frozen              |NULL        |MAGNUM Ice Cream          |false   |
|5d66d71fa3a018093ab34728|511111105329|511111105329                |Magazines           |NULL        |Elegant Homes Magazine    |NULL    |
|57ebc2e7e4b0ac389136a34b|511111201915|TACO BELL                   |Grocery             |NULL        |Taco Bell                 |false   |
|5dc03596a60b873d6b0666cd|511111506249|FROSTED CHEERIOS            |Breakfast & Cereal  |NULL        |Frosted Cheeriosâ¢         |NULL    |
|59dfaad1e4b0a56a2fa69abc|511111100621|GODIVA DRY PACKAGED DESSERTS|Baking              |NULL        |GODIVA Instant Pudding Mix|false   |
|5daf33e71dda2c3e1416ae93|511111305910|LARABAR                     |Snacks              |NULL        |LÃRABARâ¢                  |NULL    |
|5bd200a6965c7d66d92731ea|511111504627|COTTONELLE                  |Household           |NULL        |Cottonelle                |false   |
|585a9675e4b03e62d1ce0e7f|511111301691|IZZE                        |Beverages           |NULL        |Izze                      |false   |
|5887a17ee4b02187f85cdad3|511111101178|MIO                         |Beverages           |NULL        |Mio                       |false   |
|5d66d94d6d5f3b6188d4f04b|511111505365|511111505365                |Magazines           |NULL        |Magnolia Journal Magazine |NULL    |
+------------------------+------------+----------------------------+--------------------+------------+--------------------------+--------+
only showing top 20 rows

In [38]:
# # Run a Spark SQL query 
# SQL query for the view
sql_query = """
    SELECT barcode, brandCode, count(1) FROM brands 
    group by barcode, brandCode
    having count(1) > 1
"""
# Execute SQL query
df_brands_prof1 = spark.sql(sql_query)

df_brands_prof1.show(truncate=False)

#df_trans.printSchema()

+-------+---------+--------+
|barcode|brandCode|count(1)|
+-------+---------+--------+
+-------+---------+--------+

In [39]:
# # Run a Spark SQL query 
# SQL query for the view
sql_query = """
    SELECT barcode, brandCode, count(1) FROM brands 
    group by barcode, brandCode
"""
# Execute SQL query
df_brands_prof1 = spark.sql(sql_query)

df_brands_prof1.show(truncate=False)

#df_trans.printSchema()

+------------+-----------------------------+--------+
|barcode     |brandCode                    |count(1)|
+------------+-----------------------------+--------+
|511111117841|RAINBO                       |1       |
|511111300656|VASELINE                     |1       |
|511111200802|IMPERIAL                     |1       |
|511111901143|VELVEETA                     |1       |
|511111415787|TEST BRANDCODE @1598296704728|1       |
|511111904946|POP WORKS & COMPANY          |1       |
|511111817864|TEST BRANDCODE @1606765578435|1       |
|511111905523| TAZO BOTTLED TEAS           |1       |
|511111603641|NULL                         |1       |
|511111503255|NULL                         |1       |
|511111203605|NULL                         |1       |
|511111002154|GOOD SEASONS                 |1       |
|511111404880|BENIHANA                     |1       |
|511111905967|MOUNTAIN HIGH                |1       |
|511111806387|OATMEAL CRISP                |1       |
|511111500452|CERVEZA AGUILA               |1       |
|511111201403|MILLER64                     |1       |
|511111705888|MOTT'S                       |1       |
|511111200192|SPARKS                       |1       |
|511111805854|511111805854                 |1       |
+------------+-----------------------------+--------+
only showing top 20 rows

In [ ]:
# df_receipts.describe().show(truncate=False, vertical=True)

**3. Invalid barcode values in Receipts**

        - Junk or invalid barcode are associated to receipts. The barcode is 12 digit in length, but receipts have invalid barcode values.

In [40]:
# # Run a Spark SQL query 
# SQL query for the view
sql_query = """
    SELECT 'From Brands', length(barcode), count(1) FROM brands 
    group by 1, 2
    UNION
    SELECT 'From Receipts', length(item_barcode), count(1) FROM receipt_item     
    group by 1, 2
"""
# Execute SQL query
df_brands_prof1 = spark.sql(sql_query)

df_brands_prof1.show(truncate=False)

#df_trans.printSchema()

+-------------+---------------+--------+
|From Brands  |length(barcode)|count(1)|
+-------------+---------------+--------+
|From Brands  |12             |1167    |
|From Receipts|13             |8       |
|From Receipts|11             |46      |
|From Receipts|10             |82      |
|From Receipts|12             |2619    |
|From Receipts|5              |2       |
|From Receipts|4              |332     |
|From Receipts|2              |1       |
|From Receipts|NULL           |3851    |
+-------------+---------------+--------+

**4: item_barcode vs item_brandCode anomaly**

        - Brand code is null in many cases. Barcode and Brandcode identifies the unique in brands data set. So, having NULL in brandcode will make receipts unable to join to brands for analysis.

In [41]:
# # Run a Spark SQL query 
# SQL query for the view
sql_query = """
    SELECT receipt_id, createDate, item_barcode,item_brandCode FROM receipt_item
    where item_brandCode is NULL or item_barcode is NULL
"""
# Execute SQL query
df_user_profiling = spark.sql(sql_query)

df_user_profiling.show(truncate=False)

+------------------------+-------------------+------------+--------------+
|receipt_id              |createDate         |item_barcode|item_brandCode|
+------------------------+-------------------+------------+--------------+
|5ff1e1eb0a720f0523000575|2021-01-03 15:25:31|4011        |NULL          |
|5ff1e1bb0a720f052300056b|2021-01-03 15:24:43|4011        |NULL          |
|5ff1e1bb0a720f052300056b|2021-01-03 15:24:43|028400642255|NULL          |
|5ff1e1f10a720f052300057a|2021-01-03 15:25:37|NULL        |NULL          |
|5ff1e1ee0a7214ada100056f|2021-01-03 15:25:34|4011        |NULL          |
|5ff1e1d20a7214ada1000561|2021-01-03 15:25:06|4011        |NULL          |
|5ff1e1d20a7214ada1000561|2021-01-03 15:25:06|1234        |NULL          |
|5ff1e1e40a7214ada1000566|2021-01-03 15:25:24|4011        |NULL          |
|5ff1e1cd0a720f052300056f|2021-01-03 15:25:01|NULL        |MISSION       |
|5ff1e1ed0a7214ada100056e|2021-01-03 15:25:33|4011        |NULL          |
|5ff1e1eb0a7214ada100056b|2021-01-03 15:25:31|4011        |NULL          |
|5ff1e1c50a720f052300056c|2021-01-03 15:24:53|4011        |NULL          |
|5ff1e1a10a720f0523000568|2021-01-03 15:24:17|013562300631|NULL          |
|5ff1e1b60a7214ada100055c|2021-01-03 15:24:38|034100573065|NULL          |
|5ff1e1b60a7214ada100055c|2021-01-03 15:24:38|034100573065|NULL          |
|5ff1e1b60a7214ada100055c|2021-01-03 15:24:38|034100573065|NULL          |
|5ff1e1b60a7214ada100055c|2021-01-03 15:24:38|034100573065|NULL          |
|5ff1e1b60a7214ada100055c|2021-01-03 15:24:38|034100573065|NULL          |
|5ff1e1b60a7214ada100055c|2021-01-03 15:24:38|034100573065|NULL          |
|5ff1e1b60a7214ada100055c|2021-01-03 15:24:38|034100573065|NULL          |
+------------------------+-------------------+------------+--------------+
only showing top 20 rows

**5. Data Issue/Missing data: The count of items `rewardsReceiptItemList` and `purchasedItemCount` is not matching**

In [53]:
# Execute Spark SQL
# df_sales_owners = spark.sql("""
#     --with get_receipt as (
#     SELECT _id, createDate, userId, item_barcode, purchasedItemCount
#     FROM receipts
#     where purchasedItemCount = 689
#     """)

df_sales_owners = spark.sql("""
    SELECT _id as receipt_id, purchasedItemCount, count(1)
    FROM receipts
    where _id='600f2fc80a720f0535000030'
    group by 1, 2
    """)

# Show the result
df_sales_owners.show(truncate=False)

#df_3.show(truncate=False)

+------------------------+------------------+--------+
|receipt_id              |purchasedItemCount|count(1)|
+------------------------+------------------+--------+
|600f2fc80a720f0535000030|689               |459     |
+------------------------+------------------+--------+

In [55]:
# Execute Spark SQL
df_sales_owners = spark.sql("""
    SELECT 
        rewardsReceiptStatus, purchasedItemCount
    FROM receipts
    order by 2 desc
    """)

# Show the result
df_sales_owners.show(truncate=False)

df_sales_owners.createOrReplaceTempView("salesowners_vw")

#df_3.show(truncate=False)

+--------------------+------------------+
|rewardsReceiptStatus|purchasedItemCount|
+--------------------+------------------+
|FINISHED            |689               |
|FINISHED            |689               |
|FINISHED            |689               |
|FINISHED            |689               |
|FINISHED            |689               |
|FINISHED            |689               |
|FINISHED            |689               |
|FINISHED            |689               |
|FINISHED            |689               |
|FINISHED            |689               |
|FINISHED            |689               |
|FINISHED            |689               |
|FINISHED            |689               |
|FINISHED            |689               |
|FINISHED            |689               |
|FINISHED            |689               |
|FINISHED            |689               |
|FINISHED            |689               |
|FINISHED            |689               |
|FINISHED            |689               |
+--------------------+------------------+
only showing top 20 rows

### **Questions fom business stakeholders**

    1. What are the top 5 brands by receipts scanned for most recent month?
            - Use receipt Item table & brand table - brand name, receipts id, scanned date
            - Need to check if barcode and brandCode combo is unique or just barcode is required lookuo brand name. 
    2. How does the ranking of the top 5 brands by receipts scanned for the recent month compare to the ranking for the previous month?
            - Use receipt Item table & brand table - brand name, receipts id, scanned date
            - Need to check if barcode and brandCode combo is unique or just barcode is required lookuo brand name.  
    3. When considering average spend from receipts with 'rewardsReceiptStatusâ of âAcceptedâ or âRejectedâ, which is greater?
            - Use receipt table - rewardsReceiptStatus and totalspent columns. 
    4. When considering total number of items purchased from receipts with 'rewardsReceiptStatusâ of âAcceptedâ or âRejectedâ, which is greater?
            - Use receipt table - rewardsReceiptStatus and purchasedItemCount columns
    5. Which brand has the most spend among users who were created within the past 6 months?
            - Use receipt Item table, user table abd brand table - brand name, receipts id, user create date
            - Need to check for active flag
    6. Which brand has the most transactions among users who were created within the past 6 months?
            - Use receipt Item table, user table abd brand table - brand name, receipts id, user create date
            - Need to check for active flag

In [44]:
# # Run a Spark SQL query 
# SQL query for the view
sql_query = """
    SELECT distinct receipt_id, item_barcode,item_brandCode, item_description FROM receipt_item
"""
# Execute SQL query
df_user_profiling = spark.sql(sql_query)

df_user_profiling.show(truncate=False)

+------------------------+------------+---------------------+---------------------------------------------------------------------------------+
|receipt_id              |item_barcode|item_brandCode       |item_description                                                                 |
+------------------------+------------+---------------------+---------------------------------------------------------------------------------+
|6004a5f20a7214ad4c000088|754500947807|HY-VEE               |Hy-Vee Lemon Flavored Lowfat Yogurt                                              |
|60049d9d0a720f05f3000094|039400015031|BUSH'S BEST          |Bush's Best Chili Beans - Kidney Beans in Mild Chili Sauce                       |
|600992f90a720f05fa000133|815473010360|BORDEN               |Borden 1% Chocolate Milk                                                         |
|600a1a8d0a7214ada2000008|612669316714|LAURA'S LEAN BEEF    |Laura's Lean Beef Beef - Ground                                                  |
|600eda0c0a7214ada200001e|511111802358|CRACKER BARREL       |CRACKER BARREL                                                                   |
|5ff8c3a20a7214adca000005|089203700016|BRAND                |PURE LEAF CHAMOMILE HERBAL TEA .74 OZ                                            |
|600b420b0a7214ada200000d|070158008678|KRAZY GLUE           |Krazy Glue Sticks                                                                |
|600f39c30a7214ada2000030|071142004089|ARROWHEAD            |ARWH ASRTD MNTN SPRN WTR BTL 32PK 16.9 FL OZ                                     |
|60023e8f0a720f05f300008b|305731769135|ADVIL                |Advil Ibuprofen Pain & Fever Liqui-gels Minis                                    |
|600370250a720f05f3000090|039400015031|BUSH'S BEST          |Bush's Best Chili Beans - Kidney Beans in Mild Chili Sauce                       |
|600a1a8d0a7214ada2000008|043000050910|JELL-O               |Jell-O Sugar Free Gelatin Strawberry 25 oz 8 pk                                  |
|600ba6ae0a7214ada2000010|029000021723|PLANTERS             |PLANTERS Unsalted Premium Cashews, 33 Ounce                                      |
|600206000a720f05f3000087|075706191031|CONNIE'S PIZZA       |CNS CLSC THN SPR BLCK OLV GRN PPR ONN WHL MLK MZRL PRMS RMN 25.49 OZ             |
|600206000a720f05f3000087|058449450023|NATURE'S PATH ORGANIC|NTRS PTH FLX N OATS INST OAT ORGN BOX HOT CRL 14 OZ                              |
|600260210a720f05f300008f|305731769135|ADVIL                |Advil Ibuprofen Pain & Fever Liqui-gels Minis                                    |
|600f39c30a7214ada2000030|011110974525|HERITAGE FARM        |Heritage Farms Smoked Sausage With Chicken Pork & Beef                           |
|600f39c30a7214ada2000030|077661137833|LITEHOUSE            |Litehouse Sweet Onion With Dijon Dressing & Marinade                             |
|600f2fc80a720f0535000030|511111004127|V8                   |V8                                                                               |
|600f2fc80a720f0535000030|044700098752|LUNCHABLES           |LUNCHABLES Lunch Combinations Around The World Mexican Style Chicken Tacos 4.2 OZ|
|60020d2a0a720f05f300008a|009800300037|TIC TAC              |Tic Tac Cool Watermelon Gum                                                      |
+------------------------+------------+---------------------+---------------------------------------------------------------------------------+
only showing top 20 rows

In [45]:
# # Run a Spark SQL query 
# SQL query for the view
sql_query = """
    SELECT receipt_id, dateScanned, item_barcode,item_brandCode, item_description, bs.name, bs.category, bs.categoryCode
    FROM receipt_item ri inner join brands bs on nvl(ri.item_barcode,'~') = bs.barcode and nvl(ri.item_brandCode, '~') = nvl(bs.brandCode, '~')
    where item_barcode is not NULL
"""
# Execute SQL query
df_user_profiling = spark.sql(sql_query)

df_user_profiling.show(truncate=False)

+------------------------+-------------------+------------+---------------+----------------+----------------+--------------------+----------------------+
|receipt_id              |dateScanned        |item_barcode|item_brandCode |item_description|name            |category            |categoryCode          |
+------------------------+-------------------+------------+---------------+----------------+----------------+--------------------+----------------------+
|600a1e270a720f0535000009|2021-01-22 00:36:55|511111518044|SARGENTO       |SARGENTO        |SargentoÂ® Cheese|Dairy & Refrigerated|DAIRY_AND_REFRIGERATED|
|600f2fc80a720f0535000030|2021-01-25 20:53:28|511111003960|MOUNTAIN DEW   |MOUNTAIN DEW    |Mountain Dew    |Beverages           |NULL                  |
|600f2fc80a720f0535000030|2021-01-25 20:53:28|511111101451|QUAKER         |QUAKER          |Quaker          |Breakfast & Cereal  |NULL                  |
|600a1a8d0a7214ada2000008|2021-01-22 00:21:32|511111101451|QUAKER         |QUAKER          |Quaker          |Breakfast & Cereal  |NULL                  |
|600f2fc80a720f0535000030|2021-01-25 20:53:28|511111001768|CHEETOS        |CHEETOS         |Cheetos         |Snacks              |NULL                  |
|600f2fc80a720f0535000030|2021-01-25 20:53:28|511111001768|CHEETOS        |CHEETOS         |Cheetos         |Snacks              |NULL                  |
|600f39c30a7214ada2000030|2021-01-25 21:36:03|511111001768|CHEETOS        |CHEETOS         |Cheetos         |Snacks              |NULL                  |
|600f2fc80a720f0535000030|2021-01-25 20:53:28|511111602118|JELL-O         |JELL-O          |Jell-O          |Baking              |NULL                  |
|600f39c30a7214ada2000030|2021-01-25 21:36:03|511111602118|JELL-O         |JELL-O          |Jell-O          |Baking              |NULL                  |
|60049d9d0a720f05f3000094|2021-01-17 20:27:09|511111502142|GREY POUPON    |GREY POUPON     |Grey Poupon     |Condiments & Sauces |NULL                  |
|600f2fc80a720f0535000030|2021-01-25 20:53:28|511111904175|PEPPERIDGE FARM|PEPPERIDGE FARM |Pepperidge Farm |Grocery             |NULL                  |
|600f2fc80a720f0535000030|2021-01-25 20:53:28|511111904175|PEPPERIDGE FARM|PEPPERIDGE FARM |Pepperidge Farm |Grocery             |NULL                  |
|600f39c30a7214ada2000030|2021-01-25 21:36:03|511111904175|PEPPERIDGE FARM|PEPPERIDGE FARM |Pepperidge Farm |Grocery             |NULL                  |
|600f39c30a7214ada2000030|2021-01-25 21:36:03|511111904175|PEPPERIDGE FARM|PEPPERIDGE FARM |Pepperidge Farm |Grocery             |NULL                  |
|600f39c30a7214ada2000030|2021-01-25 21:36:03|511111904175|PEPPERIDGE FARM|PEPPERIDGE FARM |Pepperidge Farm |Grocery             |NULL                  |
|600b420b0a7214ada200000d|2021-01-22 21:22:19|511111104186|PACIFIC FOODS  |PACIFIC FOODS   |Pacific Foods   |Grocery             |NULL                  |
|600f2fc80a720f0535000030|2021-01-25 20:53:28|511111704140|PREGO          |PREGO           |Prego           |Condiments & Sauces |NULL                  |
|600f2fc80a720f0535000030|2021-01-25 20:53:28|511111704140|PREGO          |PREGO           |Prego           |Condiments & Sauces |NULL                  |
|600f39c30a7214ada2000030|2021-01-25 21:36:03|511111704140|PREGO          |PREGO           |Prego           |Condiments & Sauces |NULL                  |
|600f39c30a7214ada2000030|2021-01-25 21:36:03|511111704140|PREGO          |PREGO           |Prego           |Condiments & Sauces |NULL                  |
+------------------------+-------------------+------------+---------------+----------------+----------------+--------------------+----------------------+
only showing top 20 rows

**Question**

    1. What are the top 5 brands by receipts scanned for most recent month?
            - Use receipt Item table & brand table - brand name, receipts id, scanned date
            - Need to check if barcode and brandCode combo is unique or just barcode is required lookuo brand name. 
    2. How does the ranking of the top 5 brands by receipts scanned for the recent month compare to the ranking for the previous month?
            - Use receipt Item table & brand table - brand name, receipts id, scanned date
            - Need to check if barcode and brandCode combo is unique or just barcode is required lookuo brand name.              
  **Assessment**:
  
    For the  most recent month and prior month, in this case the recent month is "2021-03" and prior month is "2021-02", the query returms no value or null value due to data quality issues in "barcode" column in receipts. Incorrect or invalid barcode values causing the `brands` table and `receipts_item` join to fail and returns no value. 

The below table shows the list of top brand barcodes based on receipts scanned. Please review the "barcodes" here - none of the bar codes are valid.

In [ ]:
 +--------------------------+------------+--------------+----------+
|month_label               |item_barcode|item_brandCode|item_count|
+--------------------------+------------+--------------+----------+
|Prior Recent month:2021-02|NULL        |NULL          |45        |
|Prior Recent month:2021-02|4011        |NULL          |33        |
|Prior Recent month:2021-02|B076FJ92M4  |NULL          |27        |
|Prior Recent month:2021-02|B07BRRLSVC  |NULL          |27        |
|Prior Recent month:2021-02|021000024674|NULL          |5         |
|Recent month:2021-03      |B076FJ92M4  |NULL          |13        |
|Recent month:2021-03      |B07BRRLSVC  |NULL          |13        |
+--------------------------+------------+--------------+----------+

`Get recent month. In this case the recent month is "2021-03", and prior month is "2021-02"`

In [49]:
sql_query = """
    select 
        min_dateScanned, year(min_dateScanned) as min_year, month(min_dateScanned) as min_month,  
        max_dateScanned, year(max_dateScanned) as max_year, month(max_dateScanned) as max_month
    from (
    SELECT min(dateScanned) min_dateScanned, max(dateScanned) max_dateScanned
    FROM receipt_item 
    )
"""
# Execute SQL query
df_top5_brands = spark.sql(sql_query)

df_top5_brands.show(truncate=False)

+-------------------+--------+---------+-------------------+--------+---------+
|min_dateScanned    |min_year|min_month|max_dateScanned    |max_year|max_month|
+-------------------+--------+---------+-------------------+--------+---------+
|2020-10-30 20:17:59|2020    |10       |2021-03-01 21:32:28|2021    |3        |
+-------------------+--------+---------+-------------------+--------+---------+

`Sample data to show the invalid barcodes`

In [50]:
sql_query = """
        SELECT * 
        FROM brands where (barcode like '%B07BRRLSVC%' or  barcode like '%B076FJ92M4%' or barcode like '%021000024674%')
        --in ('021000024674','B07BRRLSVC','B076FJ92M4')
"""

# Execute SQL query
df_top5_brands = spark.sql(sql_query)

df_top5_brands.show(truncate=False)

+---+-------+---------+--------+------------+---+----+--------+------+-------+
|_id|barcode|brandCode|category|categoryCode|cpg|name|topBrand|cpg_id|cpg_ref|
+---+-------+---------+--------+------------+---+----+--------+------+-------+
+---+-------+---------+--------+------------+---+----+--------+------+-------+

`Query to join receipt item and brands table to get the top 5 brands`

In [47]:
# Execute Spark SQL
df_sales_owners = spark.sql("""
    with get_latest_scan_date as 
    (
    select 
        min_dateScanned, year(min_dateScanned) as min_year, month(min_dateScanned) as min_month,  
        max_dateScanned, year(max_dateScanned) as max_year, month(max_dateScanned) as max_month
    FROM (
        SELECT min(dateScanned) min_dateScanned, max(dateScanned) max_dateScanned
        FROM receipt_item 
        )
    ), 
    top5_recent as 
    (
        SELECT bs.name as brand_name, item_barcode,item_brandCode, count(1) as item_count
        FROM receipt_item ri inner join brands bs 
                    on nvl(ri.item_barcode,'~') = bs.barcode and nvl(ri.item_brandCode, '~') = nvl(bs.brandCode, '~')
             CROSS JOIN  get_latest_scan_date
        where year(dateScanned) = max_year and month(dateScanned) = max_month
        GROUP BY 1,2,3
        ORDER BY item_count DESC
        LIMIT 5
        ),
    top5_prior as 
    (
        SELECT bs.name as brand_name,item_barcode,item_brandCode, count(1) as item_count
        FROM receipt_item ri inner join brands bs 
                    on nvl(ri.item_barcode,'~') = bs.barcode and nvl(ri.item_brandCode, '~') = nvl(bs.brandCode, '~')
             CROSS JOIN  get_latest_scan_date
        where year(dateScanned) = max_year and month(dateScanned) = max_month - 1
        GROUP BY 1,2,3
        ORDER BY item_count DESC
        LIMIT 5
        )
    SELECT * FROM top5_recent
    UNION
    SELECT * FROM top5_prior
    ;
        """)

# Show the result
df_sales_owners.show(truncate=False)

#df_3.show(truncate=False)

+----------+------------+--------------+----------+
|brand_name|item_barcode|item_brandCode|item_count|
+----------+------------+--------------+----------+
+----------+------------+--------------+----------+

`Query to get the top 5 brands based on receipts scanned from receipt item table without joining receipt item and brands table`

In [48]:
# where formatted_date >= add_months(current_date(), -12)
# sql_query = """
#     SELECT count(1) 
#     FROM receipt_item where year(dateScanned) =2021 and month(dateScanned) = 3
#     and item_barcode is not NULL
# """

sql_query = """
    WITH recent_month AS (
        SELECT 'Recent month:2021-03' AS month_label, item_barcode, item_brandCode, COUNT(1) AS item_count
        FROM receipt_item ri 
        WHERE YEAR(dateScanned) = 2021 AND MONTH(dateScanned) = 3 
        GROUP BY item_barcode, item_brandCode 
        ORDER BY item_count DESC
        LIMIT 5
    ), prior_month AS (
        SELECT 'Prior Recent month:2021-02' AS month_label, item_barcode, item_brandCode, COUNT(1) AS item_count
        FROM receipt_item ri 
        WHERE YEAR(dateScanned) = 2021 AND MONTH(dateScanned) = 2 
        GROUP BY item_barcode, item_brandCode 
        ORDER BY item_count DESC
        LIMIT 5
    )
    SELECT * FROM recent_month
    UNION ALL
    SELECT * FROM prior_month
    ORDER BY 1;
"""

# Execute SQL query
df_top5_brands = spark.sql(sql_query)

df_top5_brands.show(truncate=False)

+--------------------------+------------+--------------+----------+
|month_label               |item_barcode|item_brandCode|item_count|
+--------------------------+------------+--------------+----------+
|Prior Recent month:2021-02|NULL        |NULL          |45        |
|Prior Recent month:2021-02|4011        |NULL          |33        |
|Prior Recent month:2021-02|B076FJ92M4  |NULL          |27        |
|Prior Recent month:2021-02|B07BRRLSVC  |NULL          |27        |
|Prior Recent month:2021-02|021000024674|NULL          |5         |
|Recent month:2021-03      |B076FJ92M4  |NULL          |13        |
|Recent month:2021-03      |B07BRRLSVC  |NULL          |13        |
+--------------------------+------------+--------------+----------+

**Question**

    3. When considering average spend from receipts with 'rewardsReceiptStatusâ of âAcceptedâ or âRejectedâ, which is greater?
        - Use receipt table - rewardsReceiptStatus and totalspent columns. 
    4. When considering total number of items purchased from receipts with 'rewardsReceiptStatusâ of âAcceptedâ or âRejectedâ, which is greater?
        - Use receipt table - rewardsReceiptStatus and purchasedItemCount columns    
  **Assmuption**: There is no status "Accepted", instead "FINISHED" statusis used as "accepted" status.
  
  **Assessment**:
  
   1. Average spend for "FINISHED" status is greater than that of "REJECTED" status, `15.86046511627907` v/s `2.5441176470588234` 
   2. Total number of items purchased from each receipts for "FINISHED" status is greater than that of "REJECTED" status, `8184` v/s `173`

`Get a list of distinct rewardsReceiptStatus values`

In [51]:
# Execute Spark SQL
df_sales_owners = spark.sql("""
    --with get_receipt as (
    SELECT 
        rewardsReceiptStatus,
        sum(totalSpent) as total_spend, 
        avg(totalSpent) as average_spend
    FROM receipts
    group by rewardsReceiptStatus
    order by 3 desc
    """)

# Show the result
df_sales_owners.show(truncate=False)

#df_3.show(truncate=False)

+--------------------+------------------+------------------+
|rewardsReceiptStatus|total_spend       |average_spend     |
+--------------------+------------------+------------------+
|FLAGGED             |2134811.9000000213|2635.5702469136068|
|FINISHED            |7366687.770000038 |1244.7934724569175|
|PENDING             |1373.5900000000001|28.03244897959184 |
|REJECTED            |3264.0100000000025|19.902500000000014|
+--------------------+------------------+------------------+

In [52]:
# Execute Spark SQL
df_sales_owners = spark.sql("""
    with get_receipt as (
    select distinct _id as receipt_id, rewardsReceiptStatus, purchasedItemCount
    FROM receipts) 
    SELECT 
        rewardsReceiptStatus,
        sum(purchasedItemCount) as total_number_of_items_purchased, 
        avg(purchasedItemCount) as avg_of_items_purchased
    FROM get_receipt
    group by rewardsReceiptStatus
    order by 2 desc
    """)

# Show the result
df_sales_owners.show(truncate=False)

#df_3.show(truncate=False)

+--------------------+-------------------------------+----------------------+
|rewardsReceiptStatus|total_number_of_items_purchased|avg_of_items_purchased|
+--------------------+-------------------------------+----------------------+
|FINISHED            |8184                           |15.86046511627907     |
|FLAGGED             |1014                           |22.043478260869566    |
|REJECTED            |173                            |2.5441176470588234    |
|PENDING             |NULL                           |NULL                  |
+--------------------+-------------------------------+----------------------+

**Question**

    5. Which brand has the most spend among users who were created within the past 6 months?
        - Use receipt Item table, user table abd brand table - brand name, receipts id, user create date
        - Need to check for active flag
    6. Which brand has the most transactions among users who were created within the past 6 months?
        - Use receipt Item table, user table abd brand table - brand name, receipts id, user create date
        - Need to check for active flag       
  
  **Assessment**:
  
   1. `Tostitos` and `Swanson` are the top brand based on users spend among users who were created within the past 6 months (7527.79 vs 7187.14)
   2. `Tostitos` and `Swanson` are the tied at top based on most users transactions among users who were created within the past 6 months (11 each)
   3. Top 5 brand based on users spend and users transactions are given below table.

In [ ]:
+---------------------+------------+---------------+-----------------+
|brand_name           |item_barcode|item_brandCode |total_user_spend |
+---------------------+------------+---------------+-----------------+
|Tostitos             |511111001485|TOSTITOS       |7527.79          |
|Swanson              |511111204206|SWANSON        |7187.14          |
|Cracker Barrel Cheese|511111802358|CRACKER BARREL |4885.889999999999|
|Cheetos              |511111001768|CHEETOS        |4721.95          |
|Pepperidge Farm      |511111904175|PEPPERIDGE FARM|4721.95          |
+---------------------+------------+---------------+-----------------+

 +---------------------+------------+--------------+---------------------+
|brand_name           |item_barcode|item_brandCode|total_receipt_txn_cnt|
+---------------------+------------+--------------+---------------------+
|Tostitos             |511111001485|TOSTITOS      |11                   |
|Swanson              |511111204206|SWANSON       |11                   |
|Kettle Brand         |511111104537|KETTLE BRAND  |3                    |
|Cracker Barrel Cheese|511111802358|CRACKER BARREL|2                    |
|Cheetos              |511111001768|CHEETOS       |1                    |
+---------------------+------------+--------------+---------------------+

`Get 6 month date for users createdDate`

In [56]:
# # Run a Spark SQL query 
sql_query = """
    SELECT min(createdDate), max(createdDate), max(date(createdDate)), add_months(max(date(createdDate)),-6) FROM users
"""
# Execute SQL query
df_user_profiling = spark.sql(sql_query)

df_user_profiling.show(truncate=False)

#df_trans.printSchema()

+-----------------------+----------------------+----------------+--------------------------------+
|min(createdDate)       |max(createdDate)      |max(createdDate)|add_months(max(createdDate), -6)|
+-----------------------+----------------------+----------------+--------------------------------+
|2014-12-19 14:21:22.381|2021-02-12 14:11:06.24|2021-02-12      |2020-08-12                      |
+-----------------------+----------------------+----------------+--------------------------------+

In [57]:
# # Run a Spark SQL query 
sql_query = """
    SELECT year(createdDate) year, month(createdDate) month, count(1) FROM users
    group by 1,2
    order by 1 desc, 2 desc
"""
# Execute SQL query
df_user_profiling = spark.sql(sql_query)

df_user_profiling.show(truncate=False)

#df_trans.printSchema()

+----+-----+--------+
|year|month|count(1)|
+----+-----+--------+
|2021|2    |46      |
|2021|1    |354     |
|2020|12   |20      |
|2020|11   |24      |
|2020|7    |1       |
|2020|1    |1       |
|2017|12   |8       |
|2017|9    |18      |
|2017|7    |1       |
|2015|4    |1       |
|2014|12   |20      |
+----+-----+--------+

`Query to get top 5 brand based on users spend and users transactions.`

In [59]:
# Execute Spark SQL
df_user_txns = spark.sql("""
    with user_dates as 
    (
    SELECT min(createdDate) as min_createdate, 
        max(createdDate) as max_createdate, 
        max(date(createdDate)) as max_createdate_1, 
        add_months(max(date(createdDate)),-6) as 6months_date
    FROM users
    ),
    get_users as 
    (    
        SELECT    
            ur._id as userid, ur.state, ur.createdDate,ur.lastLogin,ur.role, ur.active
        FROM users ur, user_dates
        where date(ur.createdDate) >=  user_dates.6months_date
    ),
    user_txns_6months
    (
     SELECT  distinct 
             bs.name as brand_name, 
             item_barcode,
             item_brandCode, 
             receipt_id,  
             totalspent
        FROM receipt_item ri inner join brands bs 
                    on nvl(ri.item_barcode,'~') = bs.barcode and nvl(ri.item_brandCode, '~') = nvl(bs.brandCode, '~')
             inner join get_users gu on ri.userId = gu. userid   
    )
        select 
            brand_name, 
            item_barcode, 
            item_brandCode, 
            count(receipt_id) as total_receipt_txn_cnt, sum(totalspent) as total_user_spend
        from user_txns_6months
        GROUP BY 1,2,3
        ORDER BY total_receipt_txn_cnt DESC, total_user_spend desc
        LIMIT 5
        """)

# Show the result
df_user_txns.show(truncate=False)

#df_3.show(truncate=False)

+---------------------+------------+--------------+---------------------+-----------------+
|brand_name           |item_barcode|item_brandCode|total_receipt_txn_cnt|total_user_spend |
+---------------------+------------+--------------+---------------------+-----------------+
|Tostitos             |511111001485|TOSTITOS      |11                   |7527.79          |
|Swanson              |511111204206|SWANSON       |11                   |7187.14          |
|Kettle Brand         |511111104537|KETTLE BRAND  |3                    |2400.91          |
|Cracker Barrel Cheese|511111802358|CRACKER BARREL|2                    |4885.889999999999|
|Prego                |511111704140|PREGO         |1                    |4721.95          |
+---------------------+------------+--------------+---------------------+-----------------+